﻿
@model object



@if (Model.GetType().GetProperty("HeaderTitle") != null)
{
    <div class="ribbon ribbon-left ribbon-clip ribbon-shadow ribbon-color-primary uppercase">
        <div class="ribbon-sub ribbon-clip"></div>
        @Model.GetType().GetProperty("HeaderTitle").GetValue(Model, null)
    </div>
    <div class="portlet-title"></div>
}
else
{
    <div class="ribbon ribbon-left ribbon-clip ribbon-shadow ribbon-color-primary uppercase">
        <div class="ribbon-sub ribbon-clip"></div> Ponele al model la property HeaderTitle
    </div>
    <div class="portlet-title"></div>
}