﻿
<div class="modal fade" id="modalErrorIntegridad">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¡Error de integridad en la base de datos!</h4>
            </div>
            <div class="modal-body">
                <h3>Tabla afectada: Usuario. Fila afectada: 1</h3>
                <p>Para continuar debe tomar una de las siguientes acciones</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Recalcular dígitos e ingresar</button>
                <button type="button" class="btn btn-danger">Realizar restore</button>
            </div>
        </div>
    </div>
</div>