﻿@model Ubbie.WebSite.Areas.Notificacion.Models.NotificacionModel

<div id="notificationModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title font-blue-steel bold uppercase">
                    @Model.Titulo &nbsp; <small>(@Model.Fecha)</small>
                </h4>
            </div>
            <div class="modal-body">
                <span class="caption-subject uppercase">@Model.UserFullName</span>
                <hr />
                <p>@Model.Mensaje</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>