﻿@using Ubbie.Recursos
@using Ubbie.WebSite.Aplicacion.Code

@{
    var notifications = AppInfo.NotificationList;
    var readNotifications = AppInfo.ReadNotificationList;
}
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="icon-bell"></i>
    <span class="badge badge-default"> @notifications.Count </span>
</a>
<ul class="dropdown-menu">
    <li class="external">
        <h3>
            @if (notifications.Any())
            {
                <span class="bold">@notifications.Count </span>
                <span>@Translation.Text_NewNotificactions</span>
            }
            else
            {
                <span>@Translation.Text_NewNoNotificactions</span>
            }
        </h3>
        @if (notifications.Any())
        {
            <a href="#" data-view-all>@Translation.Text_ViewAll</a>
        }
    </li>
    <li>
        <div class="scroller p-r-none" data-height="250px">
            <ul class="dropdown-menu-list">
                @if (notifications.Any())
                {
                    foreach (var notification in notifications)
                    {
                        <li>
                            <a href="#" data-notification="@notification.Id">
                                <span class="time" style="max-width: 100px;">
                                    @notification.FechaEnvio.ToString("dd/MM/yyyy HH:mm")
                                </span>
                                <span class="details">
                                    <span class="label label-sm label-icon label-danger">
                                        <i class="icon-bell"></i>
                                    </span>@notification.Titulo
                                </span>
                            </a>
                        </li>
                    }
                }
                @if (readNotifications.Any())
                {
                    var i = 0;
                    foreach (var readNotification in readNotifications)
                    {
                        <li>
                            <a href="#" data-notification="@readNotification.Id">
                                <span class="time" style="max-width: 100px;">
                                    @readNotification.FechaEnvio.ToString("dd/MM/yyyy HH:mm")
                                </span>
                                <span class="details">
                                    <span class="label label-sm label-icon label-success">
                                        <i class="icon-bubble"></i>
                                    </span>@readNotification.Titulo
                                </span>
                            </a>
                        </li>
                        i++;
                        if (i == 10) { break; }
                    }
                }
            </ul>
        </div>
    </li>
</ul>