﻿textarea {
  resize: vertical; }

label.required-indicator:after {
  content: '*';
  display: inline-block;
  margin-left: .25rem;
  color: #3f444a; }

.header__logo-img {
  margin-top: 0 !important;
  max-width: 125px; }

.login__logo {
  max-width: 350px; }

.md-checkbox--light label > span.box {
  border-color: #fff; }

.md-radio--light label > span.box {
  border-color: #fff; }

.avatar__img {
  max-height: 150px; }

.avatar__see-profile {
  position: absolute;
  right: 0;
  top: 0; }

/* MARGINS & PADDINGS */
.p-xxs {
  padding: 5px !important; }

.p-xs {
  padding: 10px !important; }

.p-sm {
  padding: 15px !important; }

.p-m {
  padding: 20px !important; }

.p-md {
  padding: 25px !important; }

.p-lg {
  padding: 30px !important; }

.p-xl {
  padding: 40px !important; }

.p-w-xs {
  padding: 0 10px !important; }

.p-w-sm {
  padding: 0 15px !important; }

.p-w-m {
  padding: 0 20px !important; }

.p-w-md {
  padding: 0 25px !important; }

.p-w-lg {
  padding: 0 30px !important; }

.p-w-xl {
  padding: 0 40px !important; }

.p-t-none {
  padding-top: 0 !important; }

.p-t-xxs {
  padding-top: 1px !important; }

.p-t-xs {
  padding-top: 5px !important; }

.p-t-sm {
  padding-top: 10px !important; }

.p-t {
  padding-top: 15px !important; }

.p-t-md {
  padding-top: 20px !important; }

.p-t-lg {
  padding-top: 30px !important; }

.p-t-xl {
  padding-top: 40px !important; }

.p-b-none {
  padding-bottom: 0 !important; }

.p-b-xxs {
  padding-bottom: 1px !important; }

.p-b-xs {
  padding-bottom: 5px !important; }

.p-b-sm {
  padding-bottom: 10px !important; }

.p-b {
  padding-bottom: 15px !important; }

.p-b-md {
  padding-bottom: 20px !important; }

.p-b-lg {
  padding-bottom: 30px !important; }

.p-b-xl {
  padding-bottom: 40px !important; }

.p-r-none {
  padding-right: 0 !important; }

.p-r-xxs {
  padding-right: 1px !important; }

.p-r-xs {
  padding-right: 5px !important; }

.p-r-sm {
  padding-right: 10px !important; }

.p-r {
  padding-right: 15px !important; }

.p-r-md {
  padding-right: 20px !important; }

.p-r-lg {
  padding-right: 30px !important; }

.p-r-xl {
  padding-right: 40px !important; }

.p-l-none {
  padding-left: 0 !important; }

.p-l-xxs {
  padding-left: 1px !important; }

.p-l-xs {
  padding-left: 5px !important; }

.p-l-sm {
  padding-left: 10px !important; }

.p-l {
  padding-left: 15px !important; }

.p-l-md {
  padding-left: 20px !important; }

.p-l-lg {
  padding-left: 30px !important; }

.p-l-xl {
  padding-left: 40px !important; }

.m-xxs {
  margin: 2px 4px !important; }

.m-xs {
  margin: 5px !important; }

.m-sm {
  margin: 10px !important; }

.m {
  margin: 15px !important; }

.m-md {
  margin: 20px !important; }

.m-lg {
  margin: 30px !important; }

.m-xl {
  margin: 50px !important; }

.m-n {
  margin: 0 !important; }

.m-l-none {
  margin-left: 0 !important; }

.m-l-xs {
  margin-left: 5px !important; }

.m-l-sm {
  margin-left: 10px !important; }

.m-l {
  margin-left: 15px !important; }

.m-l-md {
  margin-left: 20px !important; }

.m-l-lg {
  margin-left: 30px !important; }

.m-l-xl {
  margin-left: 40px !important; }

.m-l-n-xxs {
  margin-left: -1px !important; }

.m-l-n-xs {
  margin-left: -5px !important; }

.m-l-n-sm {
  margin-left: -10px !important; }

.m-l-n {
  margin-left: -15px !important; }

.m-l-n-md {
  margin-left: -20px !important; }

.m-l-n-lg {
  margin-left: -30px !important; }

.m-l-n-xl {
  margin-left: -40px !important; }

.m-t-none {
  margin-top: 0 !important; }

.m-t-xxs {
  margin-top: 1px !important; }

.m-t-xs {
  margin-top: 5px !important; }

.m-t-sm {
  margin-top: 10px !important; }

.m-t {
  margin-top: 15px !important; }

.m-t-md {
  margin-top: 20px !important; }

.m-t-lg {
  margin-top: 30px !important; }

.m-t-xl {
  margin-top: 40px !important; }

.m-t-n-xxs {
  margin-top: -1px !important; }

.m-t-n-xs {
  margin-top: -5px !important; }

.m-t-n-sm {
  margin-top: -10px !important; }

.m-t-n {
  margin-top: -15px !important; }

.m-t-n-md {
  margin-top: -20px !important; }

.m-t-n-lg {
  margin-top: -30px !important; }

.m-t-n-xl {
  margin-top: -40px !important; }

.m-r-none {
  margin-right: 0 !important; }

.m-r-xxs {
  margin-right: 1px !important; }

.m-r-xs {
  margin-right: 5px !important; }

.m-r-sm {
  margin-right: 10px !important; }

.m-r {
  margin-right: 15px !important; }

.m-r-md {
  margin-right: 20px !important; }

.m-r-lg {
  margin-right: 30px !important; }

.m-r-xl {
  margin-right: 40px !important; }

.m-r-n-xxs {
  margin-right: -1px !important; }

.m-r-n-xs {
  margin-right: -5px !important; }

.m-r-n-sm {
  margin-right: -10px !important; }

.m-r-n {
  margin-right: -15px !important; }

.m-r-n-md {
  margin-right: -20px !important; }

.m-r-n-lg {
  margin-right: -30px !important; }

.m-r-n-xl {
  margin-right: -40px !important; }

.m-b-none {
  margin-bottom: 0 !important; }

.m-b-xxs {
  margin-bottom: 1px !important; }

.m-b-xs {
  margin-bottom: 5px !important; }

.m-b-sm {
  margin-bottom: 10px !important; }

.m-b {
  margin-bottom: 15px !important; }

.m-b-md {
  margin-bottom: 20px !important; }

.m-b-lg {
  margin-bottom: 30px !important; }

.m-b-xl {
  margin-bottom: 40px !important; }

.m-b-n-xxs {
  margin-bottom: -1px !important; }

.m-b-n-xs {
  margin-bottom: -5px !important; }

.m-b-n-sm {
  margin-bottom: -10px !important; }

.m-b-n {
  margin-bottom: -15px !important; }

.m-b-n-md {
  margin-bottom: -20px !important; }

.m-b-n-lg {
  margin-bottom: -30px !important; }

.m-b-n-xl {
  margin-bottom: -40px !important; }

.space-15 {
  margin: 15px 0 !important; }

.space-20 {
  margin: 20px 0 !important; }

.space-25 {
  margin: 25px 0 !important; }

.space-30 {
  margin: 30px 0 !important; }

.text-deco:focus {
  text-decoration: none; }

.table.dataTable td.sorting_1,
table.dataTable td.sorting_2,
table.dataTable td.sorting_3,
table.dataTable th.sorting_1,
table.dataTable th.sorting_2,
table.dataTable th.sorting_3 {
  background-color: inherit !important; }

.page-bar {
  margin-bottom: 2rem !important; }

.portlet > .portlet-title > .tools > a.expand {
  background-image: url(/Content/img/portlet-collapse-icon.png); }

.portlet > .portlet-title > .tools > a.collapse {
  background-image: url(/Content/img/portlet-expand-icon.png); }

.tabbable-custom {
  overflow: visible !important; }

.page-header.navbar.navbar-fixed-top {
  z-index: 1000; }

.file-preview-frame:not(.file-preview-error) {
  float: none !important;
  border: none !important;
  margin: 0 auto !important;
  box-shadow: 0 0 10px #ccc !important; }
  .file-preview-frame:not(.file-preview-error):hover {
    box-shadow: 0 0 10px #aaa !important; }

.kv-fileinput-error file-error-message {
  overflow: hidden !important; }

.has-error .file-preview {
  border-color: #922c38; }

.bootstrap-tagsinput {
  width: 100%; }

.u-relative {
  position: relative; }

.u-block {
  display: block !important; }

.u-flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }
  .u-flex-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .u-flex-wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .u-flex-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
  .u-flex-justify-around {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around; }
  .u-flex-justify-between {
    -webkit-box-pack: space-aroundbetween;
    -ms-flex-pack: space-aroundbetween;
    -webkit-justify-content: space-aroundbetween;
    -moz-justify-content: space-aroundbetween;
    justify-content: space-aroundbetween; }
  .u-flex-column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.overflow-x-auto {
  overflow-x: auto !important; }

.dropzone {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  border: 2px dashed #2A3F54; }
  .dropzone .dz-message {
    margin: auto;
    font-size: 18px;
    text-align: center; }
  .dropzone .dz-preview {
    margin: 0;
    width: 100%;
    padding: 5px; }
    .dropzone .dz-preview:hover {
      z-index: 1; }
    .dropzone .dz-preview .dz-error-message {
      width: initial; }
    .dropzone .dz-preview .dz-image {
      min-height: 100px;
      width: 100%;
      height: auto;
      margin-bottom: 10px; }
      .dropzone .dz-preview .dz-image img {
        width: 100%; }
    .dropzone .dz-preview .dz-details {
      padding: 0; }
    .dropzone .dz-preview .btn,
    .dropzone .dz-preview .fa {
      cursor: pointer; }
  .dropzone--multiple {
    border-width: 3px;
    overflow-y: scroll;
    height: 300px; }
    .dropzone--multiple.dz-clickable {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -moz-flex !important;
      display: -ms-flexbox !important;
      display: flex !important; }
    .dropzone--multiple.dz-started {
      display: block !important; }
    .dropzone--multiple .dz-preview {
      width: 20%; }

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto; }

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden; }

.autocomplete-selected {
  background: #F0F0F0; }

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF; }

.autocomplete-group {
  padding: 2px 5px; }

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000; }

.portlet.light > .portlet-title > .tools {
  margin-top: 0;
  margin-left: 10px;
  padding: 6px 0 14px 0; }

.pad-0 {
  padding: 0px !important; }

.pad-5 {
  padding: 5px !important; }

.pad-10 {
  padding: 10px !important; }

.pad-15 {
  padding: 15px !important; }

.pad-20 {
  padding: 20px !important; }

.pad-25 {
  padding: 25px !important; }

.pad-30 {
  padding: 30px !important; }

.pt-0,
.pv-0 {
  padding-top: 0px !important; }

.pb-0,
.pv-0 {
  padding-bottom: 0px !important; }

.pt-5,
.pv-5 {
  padding-top: 5px !important; }

.pb-5,
.pv-5 {
  padding-bottom: 5px !important; }

.pt-10,
.pv-10 {
  padding-top: 10px !important; }

.pb-10,
.pv-10 {
  padding-bottom: 10px !important; }

.pt-15,
.pv-15 {
  padding-top: 15px !important; }

.pb-15,
.pv-15 {
  padding-bottom: 15px !important; }

.pt-20,
.pv-20 {
  padding-top: 20px !important; }

.pb-20,
.pv-20 {
  padding-bottom: 20px !important; }

.pt-25,
.pv-25 {
  padding-top: 25px !important; }

.pb-25,
.pv-25 {
  padding-bottom: 25px !important; }

.pt-30,
.pv-30 {
  padding-top: 30px !important; }

.pb-30,
.pv-30 {
  padding-bottom: 30px !important; }

.pl-0,
.ph-0 {
  padding-left: 0px !important; }

.pr-0,
.ph-0 {
  padding-right: 0px !important; }

.pl-5,
.ph-5 {
  padding-left: 5px !important; }

.pr-5,
.ph-5 {
  padding-right: 5px !important; }

.pl-10,
.ph-10 {
  padding-left: 10px !important; }

.pr-10,
.ph-10 {
  padding-right: 10px !important; }

.pl-15,
.ph-15 {
  padding-left: 15px !important; }

.pr-15,
.ph-15 {
  padding-right: 15px !important; }

.pl-20,
.ph-20 {
  padding-left: 20px !important; }

.pr-20,
.ph-20 {
  padding-right: 20px !important; }

.pl-25,
.ph-25 {
  padding-left: 25px !important; }

.pr-25,
.ph-25 {
  padding-right: 25px !important; }

.pl-30,
.ph-30 {
  padding-left: 30px !important; }

.pr-30,
.ph-30 {
  padding-right: 30px !important; }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .tab-pad-0 {
    padding: 0px !important; }
  .tab-pad-5 {
    padding: 5px !important; }
  .tab-pad-10 {
    padding: 10px !important; }
  .tab-pad-15 {
    padding: 15px !important; }
  .tab-pad-20 {
    padding: 20px !important; }
  .tab-pad-25 {
    padding: 25px !important; }
  .tab-pad-30 {
    padding: 30px !important; }
  .tab-pt-0,
  .tab-pv-0 {
    padding-top: 0px !important; }
  .tab-pb-0,
  .tab-pv-0 {
    padding-bottom: 0px !important; }
  .tab-pt-5,
  .tab-pv-5 {
    padding-top: 5px !important; }
  .tab-pb-5,
  .tab-pv-5 {
    padding-bottom: 5px !important; }
  .tab-pt-10,
  .tab-pv-10 {
    padding-top: 10px !important; }
  .tab-pb-10,
  .tab-pv-10 {
    padding-bottom: 10px !important; }
  .tab-pt-15,
  .tab-pv-15 {
    padding-top: 15px !important; }
  .tab-pb-15,
  .tab-pv-15 {
    padding-bottom: 15px !important; }
  .tab-pt-20,
  .tab-pv-20 {
    padding-top: 20px !important; }
  .tab-pb-20,
  .tab-pv-20 {
    padding-bottom: 20px !important; }
  .tab-pt-25,
  .tab-pv-25 {
    padding-top: 25px !important; }
  .tab-pb-25,
  .tab-pv-25 {
    padding-bottom: 25px !important; }
  .tab-pt-30,
  .tab-pv-30 {
    padding-top: 30px !important; }
  .tab-pb-30,
  .tab-pv-30 {
    padding-bottom: 30px !important; }
  .tab-pl-0,
  .tab-ph-0 {
    padding-left: 0px !important; }
  .tab-pr-0,
  .tab-ph-0 {
    padding-right: 0px !important; }
  .tab-pl-5,
  .tab-ph-5 {
    padding-left: 5px !important; }
  .tab-pr-5,
  .tab-ph-5 {
    padding-right: 5px !important; }
  .tab-pl-10,
  .tab-ph-10 {
    padding-left: 10px !important; }
  .tab-pr-10,
  .tab-ph-10 {
    padding-right: 10px !important; }
  .tab-pl-15,
  .tab-ph-15 {
    padding-left: 15px !important; }
  .tab-pr-15,
  .tab-ph-15 {
    padding-right: 15px !important; }
  .tab-pl-20,
  .tab-ph-20 {
    padding-left: 20px !important; }
  .tab-pr-20,
  .tab-ph-20 {
    padding-right: 20px !important; }
  .tab-pl-25,
  .tab-ph-25 {
    padding-left: 25px !important; }
  .tab-pr-25,
  .tab-ph-25 {
    padding-right: 25px !important; }
  .tab-pl-30,
  .tab-ph-30 {
    padding-left: 30px !important; }
  .tab-pr-30,
  .tab-ph-30 {
    padding-right: 30px !important; } }

@media only screen and (max-width: 992px) {
  .phn-tab-pad-0 {
    padding: 0px !important; }
  .phn-tab-pad-5 {
    padding: 5px !important; }
  .phn-tab-pad-10 {
    padding: 10px !important; }
  .phn-tab-pad-15 {
    padding: 15px !important; }
  .phn-tab-pad-20 {
    padding: 20px !important; }
  .phn-tab-pad-25 {
    padding: 25px !important; }
  .phn-tab-pad-30 {
    padding: 30px !important; }
  .phn-tab-pt-0,
  .phn-tab-pv-0 {
    padding-top: 0px !important; }
  .phn-tab-pb-0,
  .phn-tab-pv-0 {
    padding-bottom: 0px !important; }
  .phn-tab-pt-5,
  .phn-tab-pv-5 {
    padding-top: 5px !important; }
  .phn-tab-pb-5,
  .phn-tab-pv-5 {
    padding-bottom: 5px !important; }
  .phn-tab-pt-10,
  .phn-tab-pv-10 {
    padding-top: 10px !important; }
  .phn-tab-pb-10,
  .phn-tab-pv-10 {
    padding-bottom: 10px !important; }
  .phn-tab-pt-15,
  .phn-tab-pv-15 {
    padding-top: 15px !important; }
  .phn-tab-pb-15,
  .phn-tab-pv-15 {
    padding-bottom: 15px !important; }
  .phn-tab-pt-20,
  .phn-tab-pv-20 {
    padding-top: 20px !important; }
  .phn-tab-pb-20,
  .phn-tab-pv-20 {
    padding-bottom: 20px !important; }
  .phn-tab-pt-25,
  .phn-tab-pv-25 {
    padding-top: 25px !important; }
  .phn-tab-pb-25,
  .phn-tab-pv-25 {
    padding-bottom: 25px !important; }
  .phn-tab-pt-30,
  .phn-tab-pv-30 {
    padding-top: 30px !important; }
  .phn-tab-pb-30,
  .phn-tab-pv-30 {
    padding-bottom: 30px !important; }
  .phn-tab-pl-0,
  .phn-tab-ph-0 {
    padding-left: 0px !important; }
  .phn-tab-pr-0,
  .phn-tab-ph-0 {
    padding-right: 0px !important; }
  .phn-tab-pl-5,
  .phn-tab-ph-5 {
    padding-left: 5px !important; }
  .phn-tab-pr-5,
  .phn-tab-ph-5 {
    padding-right: 5px !important; }
  .phn-tab-pl-10,
  .phn-tab-ph-10 {
    padding-left: 10px !important; }
  .phn-tab-pr-10,
  .phn-tab-ph-10 {
    padding-right: 10px !important; }
  .phn-tab-pl-15,
  .phn-tab-ph-15 {
    padding-left: 15px !important; }
  .phn-tab-pr-15,
  .phn-tab-ph-15 {
    padding-right: 15px !important; }
  .phn-tab-pl-20,
  .phn-tab-ph-20 {
    padding-left: 20px !important; }
  .phn-tab-pr-20,
  .phn-tab-ph-20 {
    padding-right: 20px !important; }
  .phn-tab-pl-25,
  .phn-tab-ph-25 {
    padding-left: 25px !important; }
  .phn-tab-pr-25,
  .phn-tab-ph-25 {
    padding-right: 25px !important; }
  .phn-tab-pl-30,
  .phn-tab-ph-30 {
    padding-left: 30px !important; }
  .phn-tab-pr-30,
  .phn-tab-ph-30 {
    padding-right: 30px !important; } }

@media only screen and (max-width: 767px) {
  .phn-pad-0 {
    padding: 0px !important; }
  .phn-pad-5 {
    padding: 5px !important; }
  .phn-pad-10 {
    padding: 10px !important; }
  .phn-pad-15 {
    padding: 15px !important; }
  .phn-pad-20 {
    padding: 20px !important; }
  .phn-pad-25 {
    padding: 25px !important; }
  .phn-pad-30 {
    padding: 30px !important; }
  .phn-pt-0,
  .phn-pv-0 {
    padding-top: 0px !important; }
  .phn-pb-0,
  .phn-pv-0 {
    padding-bottom: 0px !important; }
  .phn-pt-5,
  .phn-pv-5 {
    padding-top: 5px !important; }
  .phn-pb-5,
  .phn-pv-5 {
    padding-bottom: 5px !important; }
  .phn-pt-10,
  .phn-pv-10 {
    padding-top: 10px !important; }
  .phn-pb-10,
  .phn-pv-10 {
    padding-bottom: 10px !important; }
  .phn-pt-15,
  .phn-pv-15 {
    padding-top: 15px !important; }
  .phn-pb-15,
  .phn-pv-15 {
    padding-bottom: 15px !important; }
  .phn-pt-20,
  .phn-pv-20 {
    padding-top: 20px !important; }
  .phn-pb-20,
  .phn-pv-20 {
    padding-bottom: 20px !important; }
  .phn-pt-25,
  .phn-pv-25 {
    padding-top: 25px !important; }
  .phn-pb-25,
  .phn-pv-25 {
    padding-bottom: 25px !important; }
  .phn-pt-30,
  .phn-pv-30 {
    padding-top: 30px !important; }
  .phn-pb-30,
  .phn-pv-30 {
    padding-bottom: 30px !important; }
  .phn-pl-0,
  .phn-ph-0 {
    padding-left: 0px !important; }
  .phn-pr-0,
  .phn-ph-0 {
    padding-right: 0px !important; }
  .phn-pl-5,
  .phn-ph-5 {
    padding-left: 5px !important; }
  .phn-pr-5,
  .phn-ph-5 {
    padding-right: 5px !important; }
  .phn-pl-10,
  .phn-ph-10 {
    padding-left: 10px !important; }
  .phn-pr-10,
  .phn-ph-10 {
    padding-right: 10px !important; }
  .phn-pl-15,
  .phn-ph-15 {
    padding-left: 15px !important; }
  .phn-pr-15,
  .phn-ph-15 {
    padding-right: 15px !important; }
  .phn-pl-20,
  .phn-ph-20 {
    padding-left: 20px !important; }
  .phn-pr-20,
  .phn-ph-20 {
    padding-right: 20px !important; }
  .phn-pl-25,
  .phn-ph-25 {
    padding-left: 25px !important; }
  .phn-pr-25,
  .phn-ph-25 {
    padding-right: 25px !important; }
  .phn-pl-30,
  .phn-ph-30 {
    padding-left: 30px !important; }
  .phn-pr-30,
  .phn-ph-30 {
    padding-right: 30px !important; } }

.ma,
.mar-auto {
  margin-left: auto !important;
  margin-right: auto !important; }

.ml-a, .ml-auto {
  margin-left: auto !important; }

.mr-a, .mr-auto {
  margin-right: auto !important; }

.mar-0 {
  margin: 0px !important; }

.mar-5 {
  margin: 5px !important; }

.mar-10 {
  margin: 10px !important; }

.mar-15 {
  margin: 15px !important; }

.mar-20 {
  margin: 20px !important; }

.mar-25 {
  margin: 25px !important; }

.mar-30 {
  margin: 30px !important; }

.mt-0,
.mv-0 {
  margin-top: 0px !important; }

.mb-0,
.mv-0 {
  margin-bottom: 0px !important; }

.mt-5,
.mv-5 {
  margin-top: 5px !important; }

.mb-5,
.mv-5 {
  margin-bottom: 5px !important; }

.mt-10,
.mv-10 {
  margin-top: 10px !important; }

.mb-10,
.mv-10 {
  margin-bottom: 10px !important; }

.mt-15,
.mv-15 {
  margin-top: 15px !important; }

.mb-15,
.mv-15 {
  margin-bottom: 15px !important; }

.mt-20,
.mv-20 {
  margin-top: 20px !important; }

.mb-20,
.mv-20 {
  margin-bottom: 20px !important; }

.mt-25,
.mv-25 {
  margin-top: 25px !important; }

.mb-25,
.mv-25 {
  margin-bottom: 25px !important; }

.mt-30,
.mv-30 {
  margin-top: 30px !important; }

.mb-30,
.mv-30 {
  margin-bottom: 30px !important; }

.ml-0,
.mh-0 {
  margin-left: 0px !important; }

.mr-0,
.mh-0 {
  margin-right: 0px !important; }

.ml-5,
.mh-5 {
  margin-left: 5px !important; }

.mr-5,
.mh-5 {
  margin-right: 5px !important; }

.ml-10,
.mh-10 {
  margin-left: 10px !important; }

.mr-10,
.mh-10 {
  margin-right: 10px !important; }

.ml-15,
.mh-15 {
  margin-left: 15px !important; }

.mr-15,
.mh-15 {
  margin-right: 15px !important; }

.ml-20,
.mh-20 {
  margin-left: 20px !important; }

.mr-20,
.mh-20 {
  margin-right: 20px !important; }

.ml-25,
.mh-25 {
  margin-left: 25px !important; }

.mr-25,
.mh-25 {
  margin-right: 25px !important; }

.ml-30,
.mh-30 {
  margin-left: 30px !important; }

.mr-30,
.mh-30 {
  margin-right: 30px !important; }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .tab-ma,
  .tab-mar-auto {
    margin-left: auto !important;
    margin-right: auto !important; }
  .tab-ml-a,
  .tab-ml-auto {
    margin-left: auto !important; }
  .tab-mr-a,
  .tab-mr-auto {
    margin-right: auto !important; }
  .tab-mar-0 {
    margin: 0px !important; }
  .tab-mar-5 {
    margin: 5px !important; }
  .tab-mar-10 {
    margin: 10px !important; }
  .tab-mar-15 {
    margin: 15px !important; }
  .tab-mar-20 {
    margin: 20px !important; }
  .tab-mar-25 {
    margin: 25px !important; }
  .tab-mar-30 {
    margin: 30px !important; }
  .tab-mt-0,
  .tab-mv-0 {
    margin-top: 0px !important; }
  .tab-mb-0,
  .tab-mv-0 {
    margin-bottom: 0px !important; }
  .tab-mt-5,
  .tab-mv-5 {
    margin-top: 5px !important; }
  .tab-mb-5,
  .tab-mv-5 {
    margin-bottom: 5px !important; }
  .tab-mt-10,
  .tab-mv-10 {
    margin-top: 10px !important; }
  .tab-mb-10,
  .tab-mv-10 {
    margin-bottom: 10px !important; }
  .tab-mt-15,
  .tab-mv-15 {
    margin-top: 15px !important; }
  .tab-mb-15,
  .tab-mv-15 {
    margin-bottom: 15px !important; }
  .tab-mt-20,
  .tab-mv-20 {
    margin-top: 20px !important; }
  .tab-mb-20,
  .tab-mv-20 {
    margin-bottom: 20px !important; }
  .tab-mt-25,
  .tab-mv-25 {
    margin-top: 25px !important; }
  .tab-mb-25,
  .tab-mv-25 {
    margin-bottom: 25px !important; }
  .tab-mt-30,
  .tab-mv-30 {
    margin-top: 30px !important; }
  .tab-mb-30,
  .tab-mv-30 {
    margin-bottom: 30px !important; }
  .tab-ml-0,
  .tab-mh-0 {
    margin-left: 0px !important; }
  .tab-mr-0,
  .tab-mh-0 {
    margin-right: 0px !important; }
  .tab-ml-5,
  .tab-mh-5 {
    margin-left: 5px !important; }
  .tab-mr-5,
  .tab-mh-5 {
    margin-right: 5px !important; }
  .tab-ml-10,
  .tab-mh-10 {
    margin-left: 10px !important; }
  .tab-mr-10,
  .tab-mh-10 {
    margin-right: 10px !important; }
  .tab-ml-15,
  .tab-mh-15 {
    margin-left: 15px !important; }
  .tab-mr-15,
  .tab-mh-15 {
    margin-right: 15px !important; }
  .tab-ml-20,
  .tab-mh-20 {
    margin-left: 20px !important; }
  .tab-mr-20,
  .tab-mh-20 {
    margin-right: 20px !important; }
  .tab-ml-25,
  .tab-mh-25 {
    margin-left: 25px !important; }
  .tab-mr-25,
  .tab-mh-25 {
    margin-right: 25px !important; }
  .tab-ml-30,
  .tab-mh-30 {
    margin-left: 30px !important; }
  .tab-mr-30,
  .tab-mh-30 {
    margin-right: 30px !important; } }

@media only screen and (max-width: 992px) {
  .phn-tab-ma,
  .phn-tab-mar-auto {
    margin-left: auto !important;
    margin-right: auto !important; }
  .phn-tab-ml-a,
  .phn-tab-ml-auto {
    margin-left: auto !important; }
  .phn-tab-mr-a,
  .phn-tab-mr-auto {
    margin-right: auto !important; }
  .phn-tab-mar-0 {
    margin: 0px !important; }
  .phn-tab-mar-5 {
    margin: 5px !important; }
  .phn-tab-mar-10 {
    margin: 10px !important; }
  .phn-tab-mar-15 {
    margin: 15px !important; }
  .phn-tab-mar-20 {
    margin: 20px !important; }
  .phn-tab-mar-25 {
    margin: 25px !important; }
  .phn-tab-mar-30 {
    margin: 30px !important; }
  .phn-tab-mt-0,
  .phn-tab-mv-0 {
    margin-top: 0px !important; }
  .phn-tab-mb-0,
  .phn-tab-mv-0 {
    margin-bottom: 0px !important; }
  .phn-tab-mt-5,
  .phn-tab-mv-5 {
    margin-top: 5px !important; }
  .phn-tab-mb-5,
  .phn-tab-mv-5 {
    margin-bottom: 5px !important; }
  .phn-tab-mt-10,
  .phn-tab-mv-10 {
    margin-top: 10px !important; }
  .phn-tab-mb-10,
  .phn-tab-mv-10 {
    margin-bottom: 10px !important; }
  .phn-tab-mt-15,
  .phn-tab-mv-15 {
    margin-top: 15px !important; }
  .phn-tab-mb-15,
  .phn-tab-mv-15 {
    margin-bottom: 15px !important; }
  .phn-tab-mt-20,
  .phn-tab-mv-20 {
    margin-top: 20px !important; }
  .phn-tab-mb-20,
  .phn-tab-mv-20 {
    margin-bottom: 20px !important; }
  .phn-tab-mt-25,
  .phn-tab-mv-25 {
    margin-top: 25px !important; }
  .phn-tab-mb-25,
  .phn-tab-mv-25 {
    margin-bottom: 25px !important; }
  .phn-tab-mt-30,
  .phn-tab-mv-30 {
    margin-top: 30px !important; }
  .phn-tab-mb-30,
  .phn-tab-mv-30 {
    margin-bottom: 30px !important; }
  .phn-tab-ml-0,
  .phn-tab-mh-0 {
    margin-left: 0px !important; }
  .phn-tab-mr-0,
  .phn-tab-mh-0 {
    margin-right: 0px !important; }
  .phn-tab-ml-5,
  .phn-tab-mh-5 {
    margin-left: 5px !important; }
  .phn-tab-mr-5,
  .phn-tab-mh-5 {
    margin-right: 5px !important; }
  .phn-tab-ml-10,
  .phn-tab-mh-10 {
    margin-left: 10px !important; }
  .phn-tab-mr-10,
  .phn-tab-mh-10 {
    margin-right: 10px !important; }
  .phn-tab-ml-15,
  .phn-tab-mh-15 {
    margin-left: 15px !important; }
  .phn-tab-mr-15,
  .phn-tab-mh-15 {
    margin-right: 15px !important; }
  .phn-tab-ml-20,
  .phn-tab-mh-20 {
    margin-left: 20px !important; }
  .phn-tab-mr-20,
  .phn-tab-mh-20 {
    margin-right: 20px !important; }
  .phn-tab-ml-25,
  .phn-tab-mh-25 {
    margin-left: 25px !important; }
  .phn-tab-mr-25,
  .phn-tab-mh-25 {
    margin-right: 25px !important; }
  .phn-tab-ml-30,
  .phn-tab-mh-30 {
    margin-left: 30px !important; }
  .phn-tab-mr-30,
  .phn-tab-mh-30 {
    margin-right: 30px !important; } }

@media only screen and (max-width: 767px) {
  .phn-ma,
  .phn-mar-auto {
    margin-left: auto !important;
    margin-right: auto !important; }
  .phn-ml-a,
  .phn-ml-auto {
    margin-left: auto !important; }
  .phn-mr-a,
  .phn-mr-auto {
    margin-right: auto !important; }
  .phn-mar-0 {
    margin: 0px !important; }
  .phn-mar-5 {
    margin: 5px !important; }
  .phn-mar-10 {
    margin: 10px !important; }
  .phn-mar-15 {
    margin: 15px !important; }
  .phn-mar-20 {
    margin: 20px !important; }
  .phn-mar-25 {
    margin: 25px !important; }
  .phn-mar-30 {
    margin: 30px !important; }
  .phn-mt-0,
  .phn-mv-0 {
    margin-top: 0px !important; }
  .phn-mb-0,
  .phn-mv-0 {
    margin-bottom: 0px !important; }
  .phn-mt-5,
  .phn-mv-5 {
    margin-top: 5px !important; }
  .phn-mb-5,
  .phn-mv-5 {
    margin-bottom: 5px !important; }
  .phn-mt-10,
  .phn-mv-10 {
    margin-top: 10px !important; }
  .phn-mb-10,
  .phn-mv-10 {
    margin-bottom: 10px !important; }
  .phn-mt-15,
  .phn-mv-15 {
    margin-top: 15px !important; }
  .phn-mb-15,
  .phn-mv-15 {
    margin-bottom: 15px !important; }
  .phn-mt-20,
  .phn-mv-20 {
    margin-top: 20px !important; }
  .phn-mb-20,
  .phn-mv-20 {
    margin-bottom: 20px !important; }
  .phn-mt-25,
  .phn-mv-25 {
    margin-top: 25px !important; }
  .phn-mb-25,
  .phn-mv-25 {
    margin-bottom: 25px !important; }
  .phn-mt-30,
  .phn-mv-30 {
    margin-top: 30px !important; }
  .phn-mb-30,
  .phn-mv-30 {
    margin-bottom: 30px !important; }
  .phn-ml-0,
  .phn-mh-0 {
    margin-left: 0px !important; }
  .phn-mr-0,
  .phn-mh-0 {
    margin-right: 0px !important; }
  .phn-ml-5,
  .phn-mh-5 {
    margin-left: 5px !important; }
  .phn-mr-5,
  .phn-mh-5 {
    margin-right: 5px !important; }
  .phn-ml-10,
  .phn-mh-10 {
    margin-left: 10px !important; }
  .phn-mr-10,
  .phn-mh-10 {
    margin-right: 10px !important; }
  .phn-ml-15,
  .phn-mh-15 {
    margin-left: 15px !important; }
  .phn-mr-15,
  .phn-mh-15 {
    margin-right: 15px !important; }
  .phn-ml-20,
  .phn-mh-20 {
    margin-left: 20px !important; }
  .phn-mr-20,
  .phn-mh-20 {
    margin-right: 20px !important; }
  .phn-ml-25,
  .phn-mh-25 {
    margin-left: 25px !important; }
  .phn-mr-25,
  .phn-mh-25 {
    margin-right: 25px !important; }
  .phn-ml-30,
  .phn-mh-30 {
    margin-left: 30px !important; }
  .phn-mr-30,
  .phn-mh-30 {
    margin-right: 30px !important; } }

.pos-relative {
  position: relative !important; }

.pos-absolute {
  position: absolute !important; }

.pos-static {
  position: static !important; }

.pos-fixed {
  position: fixed !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .tab-pos-relative {
    position: relative !important; }
  .tab-pos-absolute {
    position: absolute !important; }
  .tab-pos-static {
    position: static !important; }
  .tab-pos-fixed {
    position: fixed !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; } }

@media only screen and (max-width: 992px) {
  .phn-tab-pos-relative {
    position: relative !important; }
  .phn-tab-pos-absolute {
    position: absolute !important; }
  .phn-tab-pos-static {
    position: static !important; }
  .phn-tab-pos-fixed {
    position: fixed !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; } }

@media only screen and (max-width: 767px) {
  .phn-pos-relative {
    position: relative !important; }
  .phn-pos-absolute {
    position: absolute !important; }
  .phn-pos-static {
    position: static !important; }
  .phn-pos-fixed {
    position: fixed !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; } }

.clickable {
  cursor: pointer !important; }

.link, .link:active {
  text-decoration: none !important; }

.link:hover, .link:focus {
  text-decoration: underline !important; }

.link-clean, .link-clean:hover, .link-clean:focus, .link-clean:active {
  text-decoration: none !important; }

.link-block {
  display: block !important;
  text-decoration: none !important; }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .tab-clickable {
    cursor: pointer !important; }
  .tab-link, .tab-link:active {
    text-decoration: none !important; }
  .tab-link:hover, .tab-link:focus {
    text-decoration: underline !important; }
  .tab-link-clean, .tab-link-clean:hover, .tab-link-clean:focus, .tab-link-clean:active {
    text-decoration: none !important; }
  .tab-link-block {
    display: block !important;
    text-decoration: none !important; } }

@media only screen and (max-width: 992px) {
  .phn-tab-clickable {
    cursor: pointer !important; }
  .phn-tab-link, .phn-tab-link:active {
    text-decoration: none !important; }
  .phn-tab-link:hover, .phn-tab-link:focus {
    text-decoration: underline !important; }
  .phn-tab-link-clean, .phn-tab-link-clean:hover, .phn-tab-link-clean:focus, .phn-tab-link-clean:active {
    text-decoration: none !important; }
  .phn-tab-link-block {
    display: block !important;
    text-decoration: none !important; } }

@media only screen and (max-width: 767px) {
  .phn-clickable {
    cursor: pointer !important; }
  .phn-link, .phn-link:active {
    text-decoration: none !important; }
  .phn-link:hover, .phn-link:focus {
    text-decoration: underline !important; }
  .phn-link-clean, .phn-link-clean:hover, .phn-link-clean:focus, .phn-link-clean:active {
    text-decoration: none !important; }
  .phn-link-block {
    display: block !important;
    text-decoration: none !important; } }

.width-auto {
  width: auto !important; }

.width-fill {
  width: auto !important;
  display: block !important;
  overflow: hidden !important; }

.width-full {
  width: 100% !important; }

.width-full-alt {
  width: 100% !important;
  display: block !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important; }

.fl {
  float: left !important; }

.fr {
  float: right !important; }

.fn,
.float-none {
  float: none !important; }

.clr,
.clear {
  clear: both; }

.cf,
.clearfix {
  zoom: 1; }
  .cf:before, .cf:after,
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table; }
  .cf:after,
  .clearfix:after {
    clear: both; }

.ta-c, .align-center {
  text-align: center !important; }

.ta-l, .align-left {
  text-align: left !important; }

.ta-r, .align-right {
  text-align: right !important; }

.va-top, .align-top {
  vertical-align: top !important; }

.va-middle, .align-middle {
  vertical-align: middle !important; }

.va-bottom, .align-bottom {
  vertical-align: bottom !important; }

.va-baseline, .align-baseline {
  vertical-align: baseline !important; }

.hide, .hidden {
  display: none !important; }

.invisible {
  visibility: hidden !important; }

.transparent {
  zoom: 1 !important;
  filter: alpha(opacity=0) !important;
  opacity: 0 !important; }

.opaque {
  zoom: 1 !important;
  filter: alpha(opacity=100) !important;
  opacity: 1 !important; }

.inline {
  display: inline !important; }

.block {
  display: block !important; }

.inline-block {
  display: inline-block !important;
  max-width: 100% !important; }

.table {
  display: table !important; }

.table-cell {
  display: table-cell !important; }

.table-row {
  display: table-row !important; }

.border-box {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important; }

.hide-text {
  display: block !important;
  overflow: hidden !important;
  text-indent: -9999px !important; }

.ellipsis {
  white-space: nowrap !important;
  overflow: hidden !important;
  -ms-text-overflow: ellipsis !important;
  -o-text-overflow: ellipsis !important;
  text-overflow: ellipsis !important; }

.non-selectable, .disable-text-select {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

.uc, .uppercase {
  text-transform: uppercase !important; }

.lc, .lowercase {
  text-transform: lowercase !important; }

.inherit-color {
  color: inherit !important; }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .tab-width-auto {
    width: auto !important; }
  .tab-width-fill {
    width: auto !important;
    display: block !important;
    overflow: hidden !important; }
  .tab-width-full {
    width: 100% !important; }
  .tab-width-full-alt {
    width: 100% !important;
    display: block !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important; }
  .tab-fl {
    float: left !important; }
  .tab-fr {
    float: right !important; }
  .tab-fn,
  .tab-float-none {
    float: none !important; }
  .tab-clr,
  .tab-clear {
    clear: both; }
  .tab-cf,
  .tab-clearfix {
    zoom: 1; }
    .tab-cf:before, .tab-cf:after,
    .tab-clearfix:before,
    .tab-clearfix:after {
      content: " ";
      display: table; }
    .tab-cf:after,
    .tab-clearfix:after {
      clear: both; }
  .tab-ta-c, .tab-align-center {
    text-align: center !important; }
  .tab-ta-l, .tab-align-left {
    text-align: left !important; }
  .tab-ta-r, .tab-align-right {
    text-align: right !important; }
  .tab-va-top, .tab-align-top {
    vertical-align: top !important; }
  .tab-va-middle, .tab-align-middle {
    vertical-align: middle !important; }
  .tab-va-bottom, .tab-align-bottom {
    vertical-align: bottom !important; }
  .tab-va-baseline, .tab-align-baseline {
    vertical-align: baseline !important; }
  .tab-hide, .tab-hidden {
    display: none !important; }
  .tab-invisible {
    visibility: hidden !important; }
  .tab-transparent {
    zoom: 1 !important;
    filter: alpha(opacity=0) !important;
    opacity: 0 !important; }
  .tab-opaque {
    zoom: 1 !important;
    filter: alpha(opacity=100) !important;
    opacity: 1 !important; }
  .tab-inline {
    display: inline !important; }
  .tab-block {
    display: block !important; }
  .tab-inline-block {
    display: inline-block !important;
    max-width: 100% !important; }
  .tab-table {
    display: table !important; }
  .tab-table-cell {
    display: table-cell !important; }
  .tab-table-row {
    display: table-row !important; }
  .tab-border-box {
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important; }
  .tab-hide-text {
    display: block !important;
    overflow: hidden !important;
    text-indent: -9999px !important; }
  .tab-ellipsis {
    white-space: nowrap !important;
    overflow: hidden !important;
    -ms-text-overflow: ellipsis !important;
    -o-text-overflow: ellipsis !important;
    text-overflow: ellipsis !important; }
  .tab-non-selectable, .disable-text-select {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important; }
  .tab-uc, .tab-uppercase {
    text-transform: uppercase !important; }
  .tab-lc, .tab-lowercase {
    text-transform: lowercase !important; }
  .tab-inherit-color {
    color: inherit !important; } }

@media only screen and (max-width: 992px) {
  .phn-tab-width-auto {
    width: auto !important; }
  .phn-tab-width-fill {
    width: auto !important;
    display: block !important;
    overflow: hidden !important; }
  .phn-tab-width-full {
    width: 100% !important; }
  .phn-tab-width-full-alt {
    width: 100% !important;
    display: block !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important; }
  .phn-tab-fl {
    float: left !important; }
  .phn-tab-fr {
    float: right !important; }
  .phn-tab-fn,
  .phn-tab-float-none {
    float: none !important; }
  .phn-tab-clr,
  .phn-tab-clear {
    clear: both; }
  .phn-tab-cf,
  .phn-tab-clearfix {
    zoom: 1; }
    .phn-tab-cf:before, .phn-tab-cf:after,
    .phn-tab-clearfix:before,
    .phn-tab-clearfix:after {
      content: " ";
      display: table; }
    .phn-tab-cf:after,
    .phn-tab-clearfix:after {
      clear: both; }
  .phn-tab-ta-c, .phn-tab-align-center {
    text-align: center !important; }
  .phn-tab-ta-l, .phn-tab-align-left {
    text-align: left !important; }
  .phn-tab-ta-r, .phn-tab-align-right {
    text-align: right !important; }
  .phn-tab-va-top, .phn-tab-align-top {
    vertical-align: top !important; }
  .phn-tab-va-middle, .phn-tab-align-middle {
    vertical-align: middle !important; }
  .phn-tab-va-bottom, .phn-tab-align-bottom {
    vertical-align: bottom !important; }
  .phn-tab-va-baseline, .phn-tab-align-baseline {
    vertical-align: baseline !important; }
  .phn-tab-hide, .phn-tab-hidden {
    display: none !important; }
  .phn-tab-invisible {
    visibility: hidden !important; }
  .phn-tab-transparent {
    zoom: 1 !important;
    filter: alpha(opacity=0) !important;
    opacity: 0 !important; }
  .phn-tab-opaque {
    zoom: 1 !important;
    filter: alpha(opacity=100) !important;
    opacity: 1 !important; }
  .phn-tab-inline {
    display: inline !important; }
  .phn-tab-block {
    display: block !important; }
  .phn-tab-inline-block {
    display: inline-block !important;
    max-width: 100% !important; }
  .phn-tab-table {
    display: table !important; }
  .phn-tab-table-cell {
    display: table-cell !important; }
  .phn-tab-table-row {
    display: table-row !important; }
  .phn-tab-border-box {
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important; }
  .phn-tab-hide-text {
    display: block !important;
    overflow: hidden !important;
    text-indent: -9999px !important; }
  .phn-tab-ellipsis {
    white-space: nowrap !important;
    overflow: hidden !important;
    -ms-text-overflow: ellipsis !important;
    -o-text-overflow: ellipsis !important;
    text-overflow: ellipsis !important; }
  .phn-tab-non-selectable, .phn-tab-disable-text-select {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important; }
  .phn-tab-uc, .phn-tab-uppercase {
    text-transform: uppercase !important; }
  .phn-tab-lc, .phn-tab-lowercase {
    text-transform: lowercase !important; }
  .phn-tab-inherit-color {
    color: inherit !important; } }

@media only screen and (max-width: 767px) {
  .phn-width-auto {
    width: auto !important; }
  .phn-width-fill {
    width: auto !important;
    display: block !important;
    overflow: hidden !important; }
  .phn-width-full {
    width: 100% !important; }
  .phn-width-full-alt {
    width: 100% !important;
    display: block !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important; }
  .phn-fl {
    float: left !important; }
  .phn-fr {
    float: right !important; }
  .phn-fn,
  .phn-float-none {
    float: none !important; }
  .phn-clr,
  .phn-clear {
    clear: both; }
  .phn-cf,
  .phn-clearfix {
    zoom: 1; }
    .phn-cf:before, .phn-cf:after,
    .phn-clearfix:before,
    .phn-clearfix:after {
      content: " ";
      display: table; }
    .phn-cf:after,
    .phn-clearfix:after {
      clear: both; }
  .phn-ta-c, .phn-align-center {
    text-align: center !important; }
  .phn-ta-l, .phn-align-left {
    text-align: left !important; }
  .phn-ta-r, .phn-align-right {
    text-align: right !important; }
  .phn-va-top, .phn-align-top {
    vertical-align: top !important; }
  .phn-va-middle, .phn-align-middle {
    vertical-align: middle !important; }
  .phn-va-bottom, .phn-align-bottom {
    vertical-align: bottom !important; }
  .phn-va-baseline, .phn-align-baseline {
    vertical-align: baseline !important; }
  .phn-hide, .phn-hidden {
    display: none !important; }
  .phn-invisible {
    visibility: hidden !important; }
  .phn-transparent {
    zoom: 1 !important;
    filter: alpha(opacity=0) !important;
    opacity: 0 !important; }
  .phn-opaque {
    zoom: 1 !important;
    filter: alpha(opacity=100) !important;
    opacity: 1 !important; }
  .phn-inline {
    display: inline !important; }
  .phn-block {
    display: block !important; }
  .phn-inline-block {
    display: inline-block !important;
    max-width: 100% !important; }
  .phn-table {
    display: table !important; }
  .phn-table-cell {
    display: table-cell !important; }
  .phn-table-row {
    display: table-row !important; }
  .phn-border-box {
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important; }
  .phn-hide-text {
    display: block !important;
    overflow: hidden !important;
    text-indent: -9999px !important; }
  .phn-ellipsis {
    white-space: nowrap !important;
    overflow: hidden !important;
    -ms-text-overflow: ellipsis !important;
    -o-text-overflow: ellipsis !important;
    text-overflow: ellipsis !important; }
  .phn-non-selectable, .disable-text-select {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important; }
  .phn-uc, .phn-uppercase {
    text-transform: uppercase !important; }
  .phn-lc, .phn-lowercase {
    text-transform: lowercase !important; }
  .phn-inherit-color {
    color: inherit !important; } }

.normal {
  font-weight: normal !important; }

.bold {
  font-weight: bold !important; }

.italic {
  font-style: italic !important; }

.line-through {
  text-decoration: line-through !important; }

.text-break {
  word-wrap: break-word !important; }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .tab-normal {
    font-weight: normal !important; }
  .tab-bold {
    font-weight: bold !important; }
  .tab-italic {
    font-style: italic !important; }
  .tab-line-through {
    text-decoration: line-through !important; }
  .tab-text-break {
    word-wrap: break-word !important; } }

@media only screen and (max-width: 992px) {
  .phn-tab-normal {
    font-weight: normal !important; }
  .phn-tab-bold {
    font-weight: bold !important; }
  .phn-tab-italic {
    font-style: italic !important; }
  .phn-tab-line-through {
    text-decoration: line-through !important; }
  .phn-tab-text-break {
    word-wrap: break-word !important; } }

@media only screen and (max-width: 767px) {
  .phn-normal {
    font-weight: normal !important; }
  .phn-bold {
    font-weight: bold !important; }
  .phn-italic {
    font-style: italic !important; }
  .phn-line-through {
    text-decoration: line-through !important; }
  .phn-text-break {
    word-wrap: break-word !important; } }

