﻿@using Ubbie.Servicios.Models
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Controls.ASTextBox
@model Ubbie.WebSite.Areas.Consorcio.Models.ConsorcioModel
    
<div class="portlet light mt-element-ribbon portlet-fit bordered">

    @Html.ASSetupHeader(Model)


    <div class="portlet-body">
        @using (Html.BeginForm("Save", "Consorcio", FormMethod.Post, new { data_form = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)

            <div class="row">
                <div class="form-group col-md-3">
                    @Html.ASTextBox(x => x.Nombre)
                </div>
                <div class="form-group col-md-4">
                    @Html.ASTextBox(x => x.Direccion)
                </div>
                <div class="form-group col-md-3">
                    @Html.ASTextBox(x => x.Numero)
                </div>
                <div class="form-group col-md-2">
                    @Html.ASTextBox(x => x.CodigoPostal)
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    @Html.ASTextBox(x => x.CUIT, new ASTextBoxModel
               {
                   ControlHTMLAttributes = new Dictionary<string, object>
                   {
                       {"data-inputmask","" }
                   }
               })
              
                </div>
            </div>
          

            @Html.ASInfoButtons(Constants.ResourceCode.CONSORCIO, Model.Id == 0)

        }

    </div>
</div>
