﻿@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Controls.ASTextArea
@using Ubbie.WebSite.Controls.ASTextBox
@model Ubbie.WebSite.Areas.Reclamo.Models.ReclamoDetalleModel
    

<div class="modal fade" id="reclamoDetailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-t-sm p-b-sm">
                <h4 class="header-title">Reclamo Nro @Model.Numero</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.ASTextBox(x => x.UsuarioNombreCompleto, new ASTextBoxModel { IsReadOnly = true })
                    </div>
                </div>

                <div class="form-group">
                    @Html.ASTextArea(x => x.Comentario, new ASTextAreaModel { IsReadOnly = true })
                </div>

                @if (!Model.Pendiente && Model.Solucionado)
                {
                    @Html.ASTextArea(x => x.Solucion, new ASTextAreaModel { IsReadOnly = true })
                }

            </div>
            <div class="modal-footer p-t-xs p-b-sm">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>