﻿@using Ubbie.WebSite.Controls
@model Ubbie.WebSite.Areas.Reclamo.Models.ReclamoAdminModel

@using (Html.BeginForm("FinalizarReclamo", "Reclamo", FormMethod.Post, new { id = "frmFinalizarReclamo" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Solucionado)
    <div class="modal fade" id="reclamoAdminModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header p-t-sm p-b-sm">
                    <h4 class="header-title">Resolver reclamo</h4>
                </div>
                <div class="modal-body">
                    @Html.ASTextArea(x => x.Solucion)
                </div>
                <div class="modal-footer p-t-xs p-b-sm">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
}