﻿@using Ubbie.Recursos
@using Ubbie.Servicios.Models
@using Ubbie.WebSite.Aplicacion.Autorizacion
@using Ubbie.WebSite.Aplicacion.Helpers
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Controls.ASGrid.ASGridTable
@using Ubbie.WebSite.Controls.ASGrid.ASGridTools
@using Ubbie.WebSite.Shared.Layouts
@using Ubbie.WebSite.Shared.Layouts.SidebarLayout.Breadcrumbs

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/zoom.js/css/zoom.css")" />
}

@section scripts {
    @Html.Script("~/Content/vendor/zoom.js/dist/zoom.min.js")
    @Html.Script("~/Areas/Reclamo/Scripts/ReclamoAdminIndex.js")

    <script>
        var IsAdmin = @(PermissionsHelper.HasRolPermissions(Constants.RoleCode.CONSORCIOADMIN).ToString().ToLower());
    </script>

}

@Html.RenderBreadcrumbs(new List<BreadcrumbItemModel>
{
    new BreadcrumbItemModel("Home", Url.Action("Index", "Home"))
}, "Reclamos")

@Html.ASGridTable(Translation.Label_Complaints, "fa fa-check-square-o", Constants.ResourceCode.USER, new ASGridTableModel { AsGridToolsModel = new ASGridToolsModel { RenderButtonNew = false } })

<div id="modalWrapper"></div>