﻿@using Ubbie.Servicios.Models
@using Ubbie.WebSite.Aplicacion.Autorizacion
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Controls.ASTextArea
@using Ubbie.WebSite.Controls.ASTextBox
@model Ubbie.WebSite.Areas.Reclamo.Models.ReclamoModel

<div class="portlet light mt-element-ribbon portlet-fit bordered">

    @Html.ASSetupHeader(Model)

    <div class="portlet-body">
        @using (Html.BeginForm("Save", "Reclamo", FormMethod.Post, new { data_form = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)

            <div class="row">
                <div class="form-group col-md-2">
                    @Html.ASTextBox(x => x.Numero, new ASTextBoxModel
                    {
                        IsReadOnly = true
                    })
                </div>
                
                <div class="form-group col-md-10">
                    @Html.ASTextArea(x => x.Comentario)
                </div>
            </div>

            if (Model.Id != 0 && !Model.Pendiente)
            {
                <div class="form-group">
                    @Html.ASTextArea(x => x.Solucion, new ASTextAreaModel { IsReadOnly = true })
                </div>
            }

            <div class="btn-group">
                @if (Model.Id == 0 || Model.Pendiente)
                {
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    if (Model.Id != 0 && PermissionsHelper.HasResourcePatentsPermissions(Constants.ResourceCode.RECLAMO, Constants.PatentCode.DELETE))
                    {
                        <button type="button" class="btn btn-danger" data-btn-delete>Eliminar</button>
                    }
                }
                <button type="button" class="btn btn-default" data-btn-cancel>Cancelar</button>
            </div>
        }
    </div>
</div>