﻿@using Ubbie.Framework.Extensiones
@using Ubbie.Servicios.Models
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Controls.ASCheckBox
@using Ubbie.WebSite.Controls.ASTextBox

@model Ubbie.WebSite.Areas.Rol.Models.RolInfoModel


<div class="portlet light mt-element-ribbon portlet-fit bordered">

    @Html.Partial("~/Shared/Views/_PortletHeaderRibbon.cshtml", Model)

    <div class="portlet-body">
        @using (Html.BeginForm("Save", "Rol", FormMethod.Post, new { data_form = "" }))
        {
            <div class="row">

                @Html.AntiForgeryToken()

                <div class="form-group col-md-2">
                    @if (Model.Codigo.IsNullOrEmpty())
                    {
                        @Html.ASTextBox(x => x.Codigo)
                    }
                    else
                    {
                        @Html.ASTextBox(x => x.Codigo, new ASTextBoxModel
                        {
                            IsReadOnly = true
                        })
                    }
                </div>

                <div class="form-group col-md-4">
                    @Html.ASTextBox(x => x.Nombre)
                </div>

            </div>

            <div class="row">

                @for (var i = 0; i < Model.ResourceList.Count; i++)
                {
                    <div class="form-group col-lg-3">
                        <div class="panel panel-primary" data-resource>
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    @Html.HiddenFor(x => Model.ResourceList[i].Key)
                                    @Html.LabelFor(x => Model.ResourceList[i].Selected, Model.ResourceList[i].Name)

                                    <span class="pull-right">
                                        @Html.ASCheckBox(x => Model.ResourceList[i].Selected, new ASCheckBoxModel
                                        {
                                            HasLabel = false,
                                            ControlHTMLAttributes = new Dictionary<string, object> { { "data-resource-code", "" } }
                                        })
                                    </span>
                                </h3>
                            </div>
                            <div class="panel-body">
                                @for (var j = 0; j < Model.ResourceList[i].ResourcePatentList.Count; j++)
                                {
                                    <div class="mb-5">
                                        @Html.HiddenFor(x => Model.ResourceList[i].ResourcePatentList[j].Key)
                                        @Html.LabelFor(x => Model.ResourceList[i].ResourcePatentList[j].Selected,
                                            Model.ResourceList[i].ResourcePatentList[j].Name)

                                        <span class="pull-right">
                                            @Html.ASCheckBox(x => Model.ResourceList[i].ResourcePatentList[j].Selected, new ASCheckBoxModel
                                            {
                                                HasLabel = false,
                                                ControlHTMLAttributes = new Dictionary<string, object> { { "data-patent-code", "" } }
                                            })
                                        </span>
                                    </div>
                                }
                                
                                <div>
                                    <label class="mt-radio mt-radio-outline">
                                        @Html.RadioButtonFor(x => x.DefaultCodigoFamilia, Model.ResourceList[i].Key, new {id = Model.DefaultCodigoFamilia + Model.ResourceList[i].Key})
                                        @Html.DisplayNameFor(x => x.DefaultCodigoFamilia)
                                        <span></span>
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    if (i % 3 == 0 && i != 0)
                    {
                        <div class="clearfix"></div>
                    }
                }
            </div>

            @Html.ASInfoButtons(Constants.ResourceCode.ROLE, string.IsNullOrEmpty(Model.Codigo))
        }




    </div>

</div>
