﻿@using Ubbie.Recursos
@using Ubbie.Servicios.Models
@using Ubbie.WebSite.Aplicacion.Helpers
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Controls.ASGrid.ASGridTabs
@using Ubbie.WebSite.Shared.Layouts
@using Ubbie.WebSite.Shared.Layouts.SidebarLayout.Breadcrumbs

@section scripts {
    @Html.Script("~/Areas/Rol/Scripts/RolIndex.js")
    @Html.Script("~/Areas/Rol/Scripts/RolInfo.js")
    <script>
        var nombreLabel = '@Translation.Label_FirstName';
        var codigoLabel = '@Translation.Label_Code';
    </script>
}

@Html.RenderBreadcrumbs(new List<BreadcrumbItemModel>
{
    new BreadcrumbItemModel("Home", Url.Action("Index", "Home"))
}, Translation.Label_Profiles)


@Html.ASGridTable(Translation.Label_Profiles, "icon-users", Constants.ResourceCode.ROLE)
@Html.ASGridTabs(new ASGridTabsItem(Translation.Label_Details, "details", Url.Action("Info", "Rol")))
