﻿@model Ubbie.WebSite.Controls.ASGrid.ASGridTabs.ASGridTabsModel

<div class="tabbable-custom" @(Model.RenderOnePartial ? "data-onecontent" : "") data-info-box style="display: @(Model.ShowInfoBox ? "block" : "none")">
    <ul class="nav nav-tabs" data-tabs>
        <li class="active">
            <a  data-href="@Model.MainTab.Url" href="#@(Model.RenderOnePartial ? "tabContent" : Model.MainTab.Id)" data-toggle="tab" data-tab-main>@Model.MainTab.Title</a>
        </li>
        @foreach (var tab in Model.Tabs)
        {
            <li class="disabled">
                <a class="disabled" data-href="@tab.Url" href="#@(Model.RenderOnePartial ? "tabContent" : tab.Id)" data-toggle="tab" data-tab-item>@tab.Title</a>
            </li>
        }
    </ul>

    @if (Model.RenderOnePartial)
    {
        <div class="tab-content">
            <div class="tab-pane active" id="tabContent">
            </div>
        </div>
    }
    else
    {
        <div class="tab-content">
            <div class="tab-pane active" id="@Model.MainTab.Id">
            </div>
            @foreach (var tab in Model.Tabs)
            {
                <div class="tab-pane active" id="@tab.Id">
                </div>
            }
        </div>
    }

</div>
