﻿@using Ubbie.Recursos
@using Ubbie.WebSite.Shared.Layouts
@using Ubbie.WebSite.Shared.Layouts.SidebarLayout.Breadcrumbs
@section scripts {
    <script src="@Url.Content("~/Areas/Exportar/Scripts/ExportarIndex.js")"></script>
}

@Html.RenderBreadcrumbs(new List<BreadcrumbItemModel>
{
    new BreadcrumbItemModel("Home", Url.Action("Index", "Home"))
}, Translation.XML_Export)

<div class="portlet light" data-grid-box>
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-hdd-o"></i>
            <span class="caption-subject bold uppercase">@Translation.XML_Export</span>
        </div>
    </div>

    <div class="portlet-body">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <a href="@Url.Action("XMLExportUsuarios", "Exportar")" class="btn btn-success btn-lg text-uppercase">@Translation.XML_Export_Users</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <a href="@Url.Action("XMLExportReclamos", "Exportar")" class="btn btn-success btn-lg text-uppercase">@Translation.XML_Export_Reclamos</a>
                </div>
            </div>
        </div>
    </div>
</div>