﻿
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Controls.ASFileUpload
@using Ubbie.WebSite.Controls.ASTextBox
@using Ubbie.WebSite.Aplicacion.Helpers
@using Ubbie.WebSite.Shared.Layouts
@model Ubbie.WebSite.Areas.Cuenta.Models.MyProfileModel


@section scripts
{
    @Html.Script("~/Areas/Cuenta/Scripts/CuentaMyProfile.js")
}

<div class="profile-sidebar">
    <div class="portlet light profile-sidebar-portlet pad-15">
        <div class="profile-usuariopic">
            @Html.RenderUsuarioAvatar("img-responsive")
        </div>
        <div class="profile-usuariotitle">
            <div class="profile-usuariotitle-name"> @Model.Nombre @Model.Apellido </div>
        </div>
    </div>
</div>

<div class="profile-content">
    <div class="portlet light ">
        <div class="portlet-title tabbable-line">
            <div class="caption caption-md">
                <i class="icon-globe theme-font hide"></i>
                <span class="caption-subject font-blue-madison bold uppercase">Profile Cuenta</span>
            </div>
        </div>
        <div class="portlet-body">
            @using (Html.BeginForm("SaveMyProfile", "Cuenta", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.Id)


                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.ASFileUpload(x => x.ImagenPerfilId, new ASFileUploadModel { FileSystemSaveFolder = "profile-pictures" })
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            @Html.ASTextBox(x => x.Email, new ASTextBoxModel { IsReadOnly = true })
                        </div>

                        <div class="form-group">
                            @Html.ASTextBox(x => x.Nombre)
                        </div>

                        <div class="form-group">
                            @Html.ASTextBox(x => x.Apellido)
                        </div>
                        
                        <div class="note note-info">
                            <p> To change your password, provide a new one in the fields below</p>
                        </div>
                        
                        <div class="form-group">
                            @Html.ASPassword(x => x.Password)
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>
                        
                        <div class="form-group">
                            @Html.ASPassword(x => x.ConfirmPassword)
                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        </div>

                    </div>
                </div>
                @Html.ASInfoButtonSave()
            }
           
        </div>
    </div>
</div>
