﻿@{
    Layout = "~/Shared/Layouts/LoginLayout/LoginLayout.cshtml";
}

@using Ubbie.Framework.Seguridad
@model Ubbie.WebSite.Areas.Cuenta.Models.FakeLoginModel


<div class="content">

    <h3 class="form-title font-grey-salsa">Fake Login</h3>

    <div class="list-group">

        @foreach (var usuario in Model.Usuarios)
        {
            <a href="@Url.Action("FakeLogin", "Cuenta", new { usuarioId = usuario.Id })" class="list-group-item">
                <span class="badge">@usuario.CodigoRol - @usuario.NombreRol</span>
                @CustomEncrypt.Decrypt(usuario.Nombre) @CustomEncrypt.Decrypt(usuario.Apellido) (@CustomEncrypt.Decrypt(usuario.Email))
            </a>
        }

    </div>

</div>

<div class="copyright"> Ubbie <i class="fa fa-copyright"></i> @DateTime.UtcNow.Year</div>
