﻿@using System.Configuration
@using Ubbie.Recursos
@using Ubbie.Servicios.Models
@using Ubbie.WebSite.Aplicacion.Helpers
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Shared.Layouts
@using Configuration = Ubbie.Servicios.Models.Configuration
@model Ubbie.WebSite.Areas.Cuenta.Models.LoginModel

@{
    Layout = "~/Shared/Layouts/LoginLayout/LoginLayout.cshtml";
}
@section scripts {
    @Html.Script("~/Areas/Cuenta/Scripts/CuentaLogin.js")
}

<div class="logo">
    @Html.RenderCompanyLogo("img-responsive center-block login__logo")
</div>


<div class="content">
    @using (Html.BeginForm("Login", "Cuenta", FormMethod.Post, new { id = "frmLogin", @class = "login-form" }))
    {
        @Html.HiddenFor(x => x.ReturnUrl)
        @Html.HiddenFor(x => x.RecalcularDigitos)

        <h3 class="form-title font-grey-salsa">@Translation.Label_Login</h3>
        <div class="form-group">
            <div class="input-icon input-icon-lg right">
                <i class="fa fa-at font-blue-steel"></i>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.Email).ToString()) })
                @Html.ValidationMessageFor(x => x.Email)
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon input-icon-lg right">
                <i class="fa fa-lock font-blue-steel"></i>
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.Password).ToString()) })
                @Html.ValidationMessageFor(x => x.Password)
            </div>
        </div>

        <div class="form-actions">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn blue-steel uppercase btn-block m-b-md" disabled>@Translation.Label_Login</button>
                </div>
                <div class="col-xs-6">
                    <label class="rememberme">
                        @Html.ASCheckBox(x => x.RememberMe)
                    </label>
                </div>
                <div class="col-xs-6">
                    <a href="#" id="forget-password" class="forget-password">@Translation.Text_ForgotPassword</a>
                </div>
            </div>
        </div>

        if (Configuration.Application.EnvironmentCode != Constants.EnvironmentCode.PRD)
        {
            <a href="@Url.Action("FakeLogin", "Cuenta")">Go to Fake Login</a>
        }
    }

    @using (Html.BeginForm("SendRestablishPasswordEmail", "Cuenta", FormMethod.Post, new {id = "frmRestablishPassword"}))
    {
        <div class="forget-form">
            <h3 class="font-grey-salsa">@Translation.Text_ForgotPassword</h3>
            <p> @Translation.Text_PasswordInsertEmail </p>
            <div class="form-group">
                @Html.TextBoxFor(x => x.RestablishmentEmail, "", new {@class = "form-control", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.RestablishmentEmail).ToString())})
                @Html.ValidationMessageFor(x => x.RestablishmentEmail)
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn btn-default">@Translation.Label_Back</button>
                <button type="submit" class="btn btn-primary uppercase pull-right">@Translation.Text_Recover</button>
            </div>
        </div>
    }
   
</div>

<div class="copyright"> UBBIE <i class="fa fa-copyright"></i> @DateTime.UtcNow.Year</div>

<div class="modal fade" id="modalErrorIntegridad">
    <div class="modal-dialog modal-middle">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Translation.Text_DatabaseErrorIntegrity</h4>
            </div>
            <div class="modal-body">
                <p class="lead" data-errors></p>
                <p>Para continuar debe tomar una de las acciones de abajo:</p>
            </div>
            <div class="modal-footer">
                <div class="btn-group m-b-md">
                    <button class="btn btn-primary" id="calculateDigits">Recalcular dígitos e ingresar</button>
                    <a href="#tabRestore" data-toggle="tab" class="btn btn-danger">@Translation.Label_Restore</a>
                </div>
                <div class="tab-content text-left">
                    <div class="tab-pane fade p-w-md " id="tabRestore">
                        @using (Html.BeginForm("Restore", "Seguridad", FormMethod.Post, new { id = "frmRestore" }))
                        {

                            var files = Directory.GetFiles(ConfigurationManager.AppSettings["CarpetaBackup"]);

                            for (var i = 0; i < files.Length; i++)
                            {
                                <div class="form-group">
                                    @Html.RadioButtonFor(x => files, files[i], new { id = "file" + i, @checked = "checked" })
                                    @Html.Label("file" + i, files[i])
                                </div>
                            }

                            <div class="text-center">
                                <button type="submit" class="btn btn-lg btn-primary text-uppercase" id="btnRestore">@Translation.Label_Restore</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>