﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Ubbie.Recursos
@using Ubbie.Servicios.Models
@using Ubbie.WebSite.Aplicacion.Helpers
@model Ubbie.WebSite.Areas.Cuenta.Models.ActivationModel

@{
    Layout = "~/Shared/Layouts/LoginLayout/LoginLayout.cshtml";
}

@section scripts
{
    @Html.Script("~/Areas/Cuenta/Scripts/CuentaActivate.js")
}

<div class="logo">
    <a href="@Url.Action("Index", "Home")">
        <img src="@Url.Content("~/Content/images/ubbie-logo.jpg")" class="img-responsive center-block login__logo" />
    </a>
</div>

<div class="content">
    @using (Html.BeginForm("Activate", "Cuenta", FormMethod.Post, new { id = "frmActivate", @class = "login-form" }))
    {
        @Html.HiddenFor(x => x.UsuarioId)
        @Html.HiddenFor(x => x.ValidationToken)
        @Html.HiddenFor(x => x.EstaActivandoCuenta)
        @Html.HiddenFor(x => x.EstaRestableciendoPassword)

        <h3 class="form-title font-grey-salsa">
            @if (Model.EstaRestableciendoPassword)
            {
                @:@Translation.Text_RestablishPassword
            }
            else
            {
                @*@:@Translation.Text_ActivateCuenta*@
                @:ActivarCuenta
            }
        </h3>
        <div class="form-group">
            <div class="input-icon input-icon-lg right">
                <i class="fa fa-at font-blue-steel"></i>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.Email).ToString()), @readonly = "readonly" })
                @Html.ValidationMessageFor(x => x.Email)
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon input-icon-lg right">
                <i class="fa fa-lock font-blue-steel"></i>
                @if (Configuration.Security.PasswordStrengthPolicy)
                {
                    @Html.PasswordFor(x => x.Password, new
               {
                   @class = "form-control",
                   placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.Password).ToString()),
                   data_bs_popover = "",
                   title = Translation.Text_MakeYourPasswordStronger,
                   data_content = Translation.Account_PasswordStrengthPolicyText,
                   data_container = "body",
                   data_trigger = "hover"
               })
                }
                else
                {
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.Password).ToString()) })
                }
                @Html.ValidationMessageFor(x => x.Password)
            </div>
        </div>

        <div class="form-group">
            <div class="input-icon input-icon-lg right">
                <i class="fa fa-lock font-blue-steel"></i>
                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.ConfirmPassword).ToString()) })
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn blue-steel uppercase btn-block">
                @if (Model.EstaRestableciendoPassword)
                {
                    @:@Translation.Text_RestablishPassword
                }
                else
                {
                    @*@:@Translation.Text_ActivateCuenta*@
                    @:ActivarCuenta
                }
            </button>
        </div>
    }
</div>

<div class="copyright"> Ubbie <i class="fa fa-copyright"></i> @DateTime.UtcNow.Year</div>
