﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@model Ubbie.WebSite.Areas.Cuenta.Models.LoginModel

@{
    Layout = null;
    var guid = Guid.NewGuid().ToString();
}

<div class="modal fade" id="@guid" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        @using (Html.BeginForm("Login", "Cuenta", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Email, new { @class = "jqv-ignore" })
            @Html.HiddenFor(x => x.IsLogged)

            <div class="well">
                <h4 class="text-center">Ingresa tu clave nuevamente para continuar utilizando el sistema</h4>

                <hr />

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.Password).ToString()) })
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                </div>

                <hr />

                <div class="text-center">
                    <div class="btn-group">
                        <a href="@Url.Action("Logout", "Cuenta")" class="btn btn-default"><i class="icon-key"></i> Cerrar sesión</a>
                        <button type="submit" class="btn btn-primary"> Enviar ></button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

<script>

    var modal = $('#@guid');
    modal.modal('show');

    var form = modal.find('form');
    ASApp.Plugins.JqueryValidationBootstrap.reAttach(form);

    ASApp.Utils.ajaxForm(form, {
        showSuccessMessage: false,
        onSuccess: function () {
            $('.modal-backdrop').remove();
            modal.hide();
            modal.remove();
            ASApp.Session.init();
        }
    });

</script>