﻿@using Ubbie.WebSite.Controls
@model Ubbie.WebSite.Controls.ASGrid.ASGridTable.ASGridTableModel

<div class="portlet light" data-grid-box>
    <div class="portlet-title">
        @Html.ASGridTitle(Model.AsGridTitleModel)
        @Html.ASGridTools(Model.AsGridToolsModel)
        @Html.ASGridActions(Model.AsGridActionsModel)
    </div>
    <div class="portlet-body">
        <table class="table table-bordered" id="@Model.Id"></table>
    </div>
</div>
