﻿
@using Ubbie.Recursos
@using Ubbie.Servicios.Models
@using Ubbie.WebSite.Aplicacion.Autorizacion
@using Ubbie.WebSite.Aplicacion.Code
@using Ubbie.WebSite.Shared.Layouts
@model Ubbie.WebSite.Shared.Layouts.SidebarLayout.Header.HeaderModel

@{
    var UsuarioActivo = AppInfo.UsuarioActivo;
}

<div class="page-header navbar navbar-fixed-top header">
    <div class="page-header-inner">
        <div class="page-logo">
            <a href="@Url.Action("Index", "Home")">
                @Html.RenderCompanyLogo("img-responsive logo-default header__logo-img")
            </a>
            <div class="menu-toggler sidebar-toggler">
                <span></span>
            </div>
        </div>

        <a href="#" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>

        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-extended dropdown-notification" id="notificationDropDown">
                    @Html.Partial("~/Shared/Views/NotificationDropdown.cshtml")
                </li>

                <li class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        @Html.RenderUsuarioAvatar("img-circle")

                        <span class="username username-hide-on-mobile"> @UsuarioActivo.NombreCompleto </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="@Url.Action("MyProfile", "Cuenta")">
                                <i class="icon-user"></i> @Translation.Label_MyProfile
                            </a>
                        </li>
                        @if (PermissionsHelper.HasResourcePatentsPermissions(Constants.ResourceCode.SEGURIDAD, Constants.PatentCode.DIGITOS))
                        {
                            <li>
                                <a href="#" data-calculate-dvv>
                                    <i class="icon-calculator"></i> @Translation.Label_CalculateDVV
                                </a>
                            </li>
                        }
                        
                        @if (PermissionsHelper.HasRolPermissions(Constants.RoleCode.INQUILINO))
                        {
                            <li>
                                <a href="@Url.Action("MisPagos", "Balance")">
                                    <i class="fa fa-balance-scale"></i> Balance
                                </a>
                            </li>
                        }

                        <li>
                            <a href="@Url.Action("Logout", "Cuenta")">
                                <i class="icon-key"></i> @Translation.Label_Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="notificationModalWrapper"></div>