﻿

@{
    Layout = "~/Shared/Layouts/ErrorLayout/ErrorLayout.cshtml";
}


<div class="number font-red"> Ups </div>
<div class="details">
    <h3>Parece que ha ocurrido un error.</h3>
    <p>
        <a href="@Url.Action("Index", "Home")"> Volver al inicio </a>
    </p>
</div>
