﻿@using Ubbie.Recursos
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Shared.Layouts
@using Ubbie.WebSite.Shared.Layouts.SidebarLayout.Breadcrumbs

@section scripts {
    <script src="@Url.Content("~/Areas/Seguridad/Scripts/SeguridadBackup.js")"></script>
    <script>
        var confirmBackup = '@Translation.Label_ConfirmBackup'
    </script>
}

@Html.RenderBreadcrumbs(new List<BreadcrumbItemModel>
{
    new BreadcrumbItemModel("Home", Url.Action("Index", "Home"))
}, "Backup")

<div class="portlet light" data-grid-box>
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-hdd-o"></i>
            <span class="caption-subject bold uppercase">@Translation.Label_Backup</span>
        </div>
        <div class="tools">
            @Html.ASGridButtonCollapse()
        </div>
    </div>

    <div class="portlet-body">
        @using (Html.BeginForm("Backup", "Seguridad", FormMethod.Post, new { id = "frmBackup" }))
        {
            <div class="text-center">
                <button type="submit" class="btn btn-danger btn-lg text-uppercase">@Translation.Do_Backup</button>
            </div>
        }
    </div>
</div>