﻿@using System.Configuration
@using Ubbie.Recursos
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Shared.Layouts
@using Ubbie.WebSite.Shared.Layouts.SidebarLayout.Breadcrumbs

@section scripts {
    <script src="@Url.Content("~/Areas/Seguridad/Scripts/SeguridadRestore.js")"></script>
<script>
    var confirmRestore = '@Translation.Label_ConfirmRestore'
</script>
}

@Html.RenderBreadcrumbs(new List<BreadcrumbItemModel>
{
    new BreadcrumbItemModel("Home", Url.Action("Index", "Home"))
}, "Restore")

<div class="portlet light" data-grid-box>
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-undo"></i>
            <span class="caption-subject bold uppercase">@Translation.Label_Restore</span>
        </div>
        <div class="tools">
            @Html.ASGridButtonCollapse()
        </div>
    </div>

    <div class="portlet-body">
        @using (Html.BeginForm("Restore", "Seguridad", FormMethod.Post, new { id = "frmRestore" }))
        {
            var files = Directory.GetFiles(ConfigurationManager.AppSettings["CarpetaBackup"]);

            for (var i = 0; i < files.Length; i++)
            {
                <div class="form-group">
                    @Html.RadioButtonFor(x => files, files[i], new { id = "file" + i, @checked = "checked" })
                    @Html.Label("file" + i, files[i])
                </div>
            }

            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-primary text-uppercase">@Translation.Do_Restore</button>
            </div>
        }
    </div>
</div>