﻿
@import '../../metronic/sass/global/_variables.scss'; // global metronic framework variables

label.required-indicator {
    &:after {
        content: '*';
        display: inline-block;
        margin-left: .25rem;
        color: $brand-primary;
    }
}
