﻿@using Newtonsoft.Json
@using Ubbie.Recursos
@model Ubbie.WebSite.Controls.ASFileUpload.ASFileUploadModel


@{
    Layout = "~/Shared/Layouts/SidebarLayout/Partial/PartialLayout.cshtml";
}

@section styles {
}

@section scripts {

    <script>
        $(function() {

            // See http://www.dropzonejs.com/
            Dropzone.autoDiscover = false;

            var options = {
                url: URLs.File.Upload,
                headers: {
                    fileSaveMode: '@Model.FileSaveMode',
                    fileSystemSaveFolder: '@Model.FileSystemSaveFolder'
                },
                acceptedFiles: '@Model.AcceptedFiles',
                thumbnailWidth: @Model.ThumbnailWidth,
                thumbnailHeight: @Model.ThumbnailHeight,
                maxFilesize: @Model.MaxFileSize,
                maxFiles: 1,
                dictDefaultMessage: '@Html.Raw(Translation.Plugin_Dropzone_DefaultMessage)',
                dictCancelUpload: '@Translation.Plugin_Dropzone_CancelUpload',
                dictCancelUploadConfirmation: '@Translation.Plugin_Dropzone_CancelUploadConfirmation',
                dictInvalidFileType: '@Translation.Plugin_Dropzone_InvalidFileType',
                dictFileTooBig: '@Translation.Plugin_Dropzone_FileTooBig',
                init: function() {
                    var _this = this;
                    var isInsideForm = @JsonConvert.SerializeObject(Model.IsInsideForm);

                    this.on('maxfilesexceeded', function(file) {
                        _this.removeAllFiles();
                        _this.addFile(file);
                    });

                    this.on('addedfile', function(file) {

                        var canBeRemoved = @JsonConvert.SerializeObject(Model.CanBeRemoved);
                        var wrapper = Dropzone.createElement('<div class="text-center"></div>');

                        if (canBeRemoved) {
                            var removeButton = Dropzone.createElement('<button type="button" class="btn btn-xs btn-danger" data-dz-remove title="@Translation.Plugin_Dropzone_RemoveFile"><i class="fa fa-trash"></i></button>');
                            removeButton.addEventListener("click", function(e) {
                                e.preventDefault();
                                e.stopPropagation();

                                _this.removeFile(file);
                            });
                            wrapper.appendChild(removeButton);
                        }

                        if (file.fileId) {
                            var downloadButton = Dropzone.createElement('<a target="_blank" href="' +
                                URLs.File.View +
                                '?key=' +
                                encodeURI(file.key) +
                                '" type="button" class="btn btn-xs btn-info" data-download-image title="@Translation.Label_Download"><i class="fa fa-cloud-download"></i></a>');
                            wrapper.appendChild(downloadButton);
                        }

                        file.previewElement.appendChild(wrapper);

                        if (file.name.indexOf('pdf') != -1)
                            $(file.previewElement).find('.dz-image img').attr('src', '/Content/img/icon-pdf.png');


                    });

                    this.on('success',function(event, response) {
                        var control = $('#@Model.PropertyName');
                        control.val(response.FileId);
                        control.trigger('change');
                        if (isInsideForm)
                            control.valid();
                    });

                    this.on('removedfile',function() {
                        var control = $('#@Model.PropertyName');
                        if (this.files.length == 0) {

                            if (_this.options.maxFiles == 0) {
                                _this.options.maxFiles++;
                            }

                            control.val(null);
                            if (isInsideForm)
                                control.valid();
                        }
                    });


                    var file = @Html.Raw(JsonConvert.SerializeObject(Model.File));
                    if (file) {
                        var mockFile = {
                            name: file.FileName,
                            size: file.FileContent.Length,
                            fileId: file.Id,
                            key: file.Key
                        };
                        var url = '@Url.Action("View", "File")';
                        _this.files.push(mockFile);
                        _this.emit('addedfile', mockFile);

                        if (file.Extension == '.pdf') {
                            _this.emit('thumbnail', mockFile, '/Content/img/icon-pdf.png');
                        } else {
                            _this.emit('thumbnail', mockFile, url + '?key=' + encodeURI(file.Key));
                        }

                        _this.emit("complete", mockFile);
                        _this.options.maxFiles = _this.options.maxFiles - 1;
                    }

                },
            }

            initDropzone = function(control) {
                control.after($('<div class="dropzone" />'));
                control.next().dropzone(options);
            }
            initDropzone($('#@Model.PropertyName'));
        });

</script>
}


@if (Model.HasLabel)
{
    <label class="u-block @(Model.HasRequiredIndicator ? "required-indicator" : "")">@Model.LabelText</label>
}

@if (Model.IsRequired)
{
    <input type="hidden" @Model.HtmlAttributes class="@Model.Class" id="@Model.PropertyName" name="@Model.PropertyName" data-val="true" data-val-required="@Model.ValidationMessage" value="@(Model.File == null ? "" : Model.File.Id.ToString())" />
    <span class="field-validation-valid" data-valmsg-for="@Model.PropertyName" data-valmsg-replace="true"></span>

}
else
{
    <input type="hidden" id="@Model.PropertyName" name="@Model.PropertyName" value="@(Model.File == null ? "" : Model.File.Id.ToString())" />
}

