﻿@using Ubbie.WebSite.Aplicacion.Helpers
@using Ubbie.WebSite.Shared.Layouts
@using Ubbie.WebSite.Shared.Layouts.SidebarLayout.Breadcrumbs
@model Ubbie.WebSite.Areas.Balance.Models.MisPagosModel


@section scripts {
    @Html.Script("~/Areas/Balance/Scripts/MisPagos.js")
}

@{
    var className = Model.SumaDebe - Model.SumaHaber >= 0 ? "green" : "red";
}

@Html.RenderBreadcrumbs(new List<BreadcrumbItemModel>
{
    new BreadcrumbItemModel("Home", Url.Action("Index", "Home"))
}, "Balance")

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-balance-scale"></i>
            <span class="caption-subject bold uppercase">Balance</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Mes</th>
                            <th class="text-center">Haber</th>
                            <th class="text-center">Debe</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in Model.GrilaDto)
                        {
                            <tr>
                                <td>@row.Mes</td>
                                <td class="text-center">@row.Haber</td>
                                <td class="text-center">@row.Debe</td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <b>Total:</b>
                            </td>
                            <td class="text-center">
                                <b>@Model.SumaHaber.ToString("C")</b>
                            </td>
                            <td class="text-center">
                                <b>@Model.SumaDebe.ToString("C")</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 @className" href="#">
                    <div class="visual">
                        <i class="fa fa-usd"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="">@((Model.SumaDebe - Model.SumaHaber).ToString("C"))</span>
                        </div>
                        <div class="desc"> Balance de Mi Cuenta </div>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>