﻿@using Ubbie.Recursos
@using Ubbie.WebSite.Aplicacion.Helpers
@using Ubbie.WebSite.Shared.Layouts
@using Ubbie.WebSite.Shared.Layouts.SidebarLayout.Breadcrumbs
@model Ubbie.WebSite.Areas.Balance.Models.MisPagosModel
    


@section scripts {
    @Html.Script("~/Areas/Balance/Scripts/PagarExpensas.js")
}

@Html.RenderBreadcrumbs(new List<BreadcrumbItemModel>
{
    new BreadcrumbItemModel("Home", Url.Action("Index", "Home"))
}, Translation.Label_MyPayments)

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-usd"></i>
            <span class="caption-subject bold uppercase">@Translation.Label_MyPayments</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Mes</th>
                            <th class="text-center">Deuda</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in Model.GrilaDto.Where(x => x.Haber != "-" && !x.Pagado))
                        {
                            <tr>
                                <td>@row.Mes</td>
                                <td class="text-center">@row.Haber</td>
                                <td class="text-center">
                                    <button class="btn btn-sm btn-success" data-pay="@row.HaberId" data-bs-tooltip title="Pagar">
                                        <i class="fa fa-usd"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <b>Total:</b>
                            </td>
                            <td class="text-center">
                                <b>@((Model.SumaDebe - Model.SumaHaber).ToString("C"))</b>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>