﻿@using Ubbie.Servicios.Models
@using Ubbie.WebSite.Controls
@model Ubbie.WebSite.Areas.Unidad.Models.UnidadModel

<div class="portlet light mt-element-ribbon portlet-fit bordered">

    @Html.ASSetupHeader(Model)


    <div class="portlet-body">
        @using (Html.BeginForm("Save", "Unidad", FormMethod.Post, new { data_form = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)

            <div class="row">
                <div class="form-group col-md-3">
                    @Html.ASTextBox(x => x.Nombre)
                </div>
                <div class="form-group col-md-2">
                    @Html.ASTextBox(x => x.Ambientes)
                </div>
                <div class="form-group col-md-2">
                    @Html.ASTextBox(x => x.Metros)
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    @Html.ASDropDownList(x => x.PropietarioId, Model.Propietarios)
                </div>
                <div class="form-group col-md-3">
                    @Html.ASDropDownList(x => x.ConsorcioId, Model.Consorcios)
                </div>
                <div class="form-group col-md-3">
                    @Html.ASDropDownList(x => x.TipoUnidadId, Model.TipoUnidades)
                </div>
            </div>


            @Html.ASInfoButtons(Constants.ResourceCode.UNIDAD, Model.Id == 0)

        }

    </div>
</div>
