﻿@model Ubbie.WebSite.Shared.Layouts.SidebarLayout.Breadcrumbs.BreadcrumbsModel
<div class="page-bar">
    <ul class="page-breadcrumb">

        @foreach (var breadCrumb in Model.Breadcrumbs)
        {
            <li>
                <a href="@breadCrumb.Url">@breadCrumb.Name</a>
                <i class="fa fa-circle"></i>
            </li>
        }

        <li>
            <span>@Model.LastBreadcrumb</span>
        </li>

    </ul>
</div>
