﻿@using Ubbie.Recursos
@model Ubbie.WebSite.Areas.Dashboard.Models.DashboardModel

<div class="portlet light bordered">
    <div class="portlet-body">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                    <div class="visual">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.TotalUsuarios">@Model.TotalUsuarios</span>
                        </div>
                        <div class="desc"> @Translation.Dashboard_TotalUsers  </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                    <div class="visual">
                        <i class="fa fa-usd"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.GastosMensuales">@Model.GastosMensuales.ToString("C")</span>
                        </div>
                        <div class="desc"> @Translation.Dashboard_MonthlyExpenses </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                    <div class="visual">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.TotalReclamos">@Model.TotalReclamos</span>
                        </div>
                        <div class="desc"> @Translation.Label_NewComplaints </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
