﻿<tr>
    <td style="word-wrap: break-word; font-size: 0px; padding: 10px 25px;" align="left">
        <div style="cursor: auto; color: #000000; font-family: Ubuntu, Helvetica, Arial, sans-serif; font-size: 13px; font-style: italic; font-weight: bold; line-height: 22px; text-align: left;">Tienes un nuevo mensaje!</div>
    </td>
</tr>
<tr>
    <td style="word-wrap: break-word; font-size: 0px; padding: 10px 25px;" align="left">
        <div style="cursor: auto; color: #000000; font-family: Ubuntu, Helvetica, Arial, sans-serif; font-size: 13px; line-height: 22px; text-align: left;">[message]</div>
    </td>
</tr>
<tr>
    <td style="word-wrap: break-word; font-size: 0px; padding: 10px 25px;" align="left">
        <div style="cursor: auto; color: #000000; font-family: Ubuntu, Helvetica, Arial, sans-serif; font-size: 13px; line-height: 22px; text-align: left;">Saludos, [name]</div>
    </td>
</tr>