﻿<table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; padding: 0;">
    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
        <th class="small-12 large-12 columns first last p-t-1" style="width: 564px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 16px; margin: 0 auto; padding: 16px;" align="left">

            <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
                <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                    <th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 16px; margin: 0; padding: 0;" align="left">
                        <!-- Here we put everything we want -->
                        <p class="lead" style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.6; font-size: 20px; margin: 0 0 10px; padding: 0;" align="left">
                            <i>¡Hola [user-fullname]!</i>
                        </p>

                        <p style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 16px; margin: 0 0 10px; padding: 0;" align="left">Activa tu cuenta haciendo clic en el botón de abajo</p>

                        <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
                            <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                                <th class="small-12 large-3 columns first show-for-large" style="width: 25%; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 16px; margin: 0 auto; padding: 0 8px 16px 16px;" align="left"></th>
                                <th class="small-12 large-6 columns" style="width: 50%; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 16px; margin: 0 auto; padding: 0 8px 16px;" align="left">
                                    <table class="button expanded" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100% !important; margin: 0 0 16px; padding: 0;">
                                        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                                            <td style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 19px; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">
                                                <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
                                                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                                                        <td class="text-center" style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center !important; color: #fefefe; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 19px; font-size: 16px; background: #2199e8; margin: 0; padding: 0; border: 2px solid #2199e8;" align="center !important" bgcolor="#2199e8" valign="top">
                                                            <a href="[activate-account-url]" style="color: #fefefe; font-family: Helvetica, Arial, sans-serif; font-weight: bold; text-align: center; line-height: 1.3; text-decoration: none; font-size: 16px; display: inline-block; border-radius: 3px; margin: 0; padding: 8px 16px; border: 0px solid #2199e8;">Activar cuenta</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </th>
                                <th class="small-12 large-3 columns last show-for-large" style="width: 25%; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 16px; margin: 0 auto; padding: 0 16px 16px 8px;" align="left"></th>
                            </tr>
                        </table>
                    </th>
                    <th class="expander" style="visibility: hidden; width: 0; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 16px; margin: 0; padding: 0;" align="left"></th>
                </tr>
            </table>
        </th>
    </tr>
</table>