﻿@using Ubbie.Recursos
@using Ubbie.Servicios.Models
@model Ubbie.WebSite.Areas.Expensa.Models.ExpensaInfoModel

<div class="modal fade" id="modalExpensaInfo">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">@Translation.Label_ExpensesOf @Configuration.CurrentLocalTime.Date.ToString("MMMM")</h4>
            </div>
            <div class="modal-body" id="printBody">
                <div class="u-flex m-b">
                    <div>
                        <img src="@Url.Content("~/Content/images/ubbie avatar.jpg")" class="img-responsive center-block avatar__img m-b-sm img-thumbnail" style="border: 0;" />
                    </div>
                    <div class="p-sm u-relative">
                        <div>
                            <i class="fa fa-phone"></i>
                            <span>@Model.Telefono</span>
                        </div>
                        <div>
                            <i class="fa fa-at"></i>
                            <span>@Model.Email</span>
                        </div>
                        <div>
                            <i class="fa fa-home"></i>
                            <span>@Model.Direccion @Model.Nro (@Model.CodigoPostal)</span>
                        </div>
                        <div>
                            <i class="fa fa-hashtag"></i>
                            <span>CUIT: @Model.CUIT</span>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Translation.Label_Description</th>
                            <th>@Translation.Label_Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var gasto in Model.GastosMensuales)
                        {
                            <tr>
                                <td>@gasto.Descripcion</td>
                                <td>@gasto.Monto.ToString("C")</td>
                            </tr>
                        }

                        <tr>
                            <td><b>@Translation.Label_TotalGastos:</b></td>
                            <td><b>@Model.GastosMensuales.Sum(x => x.Monto).ToString("C")</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary js-print">@Translation.Label_Print</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Translation.Label_Close</button>
            </div>
        </div>
    </div>
</div>