﻿@using Ubbie.Recursos
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Shared.Layouts
@using Ubbie.WebSite.Shared.Layouts.SidebarLayout.Breadcrumbs

@section scripts {
    <script src="@Url.Content("~/Areas/Expensa/Scripts/ExpensaIndex.js")"></script>
}

@Html.RenderBreadcrumbs(new List<BreadcrumbItemModel>
{
    new BreadcrumbItemModel("Home", Url.Action("Index", "Home"))
}, Translation.Label_Expenses)

<div class="portlet light" data-grid-box>
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-percentage"></i>
            <span class="caption-subject bold uppercase">@Translation.Label_ExpensesLiquidation</span>
        </div>
        <div class="tools">
            @Html.ASGridButtonCollapse()
        </div>
    </div>

    <div class="portlet-body">
        @using (Html.BeginForm("LiquidarExpensa", "Expensa", FormMethod.Post, new { id = "frmLiquidar" }))
        {
            <div class="text-center">
                <button type="submit" class="btn btn-danger btn-lg text-uppercase">@Translation.Label_MakeExpenses</button>
            </div>
        }
    </div>
</div>

<div id="modalWrapper"></div>