﻿@using Ubbie.Servicios.Models
@using Ubbie.WebSite.Aplicacion.Code
@using Ubbie.WebSite.Aplicacion.Helpers
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Controls.ASTextBox

@model Ubbie.WebSite.Areas.Usuario.Models.UsuarioModel


@Html.Script("~/Areas/Usuario/Scripts/UsuarioInfo.js")

<div class="portlet light mt-element-ribbon portlet-fit bordered">

    @Html.ASSetupHeader(Model)

    <div class="portlet-body">
        @using (Html.BeginForm("Save", "Usuario", FormMethod.Post, new { data_form = "" }))
            {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)


            <div class="row">
                <div class="form-group col-md-3">
                    @Html.ASTextBox(x => x.Nombre)
                </div>
                <div class="form-group col-md-3">
                    @Html.ASTextBox(x => x.Apellido)
                </div>
                <div class="form-group col-md-3">
                    @Html.ASTextBox(x => x.Email)
                </div>

                <div class="form-group col-md-3">
                    @Html.ASDropDownList(x => x.CodigoRol, Model.RolList)
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-2">
                    @Html.ASTextBox(x => x.DNI, new ASTextBoxModel
               {
                   ControlHTMLAttributes = new Dictionary<string, object>
                                    {

                                        { "maxlength", "8" }
                                    },
                   HasValidationMessage = true
               })
                </div>

                <div class="form-group col-md-2">
                    @Html.ASTextBox(x => x.Telefono)
                </div>

                <div class="form-group col-md-2">
                    @Html.ASTextBox(x => x.FechaNacimiento, new ASTextBoxModel
                    {
                        ControlHTMLAttributes = new Dictionary<string, object>
                        {
                            {"data-bootstrap-datepicker","" }
                        }
                    })
                </div>
                
                @if (Model.Id != 0)
                {
                    <div class="form-group col-md-3">
                        @Html.ASDropDownList(x => x.DefaultCodigoRol, Model.DefaultResourceList)
                    </div>

                    <div class="form-group col-md-2">
                        <label class="u-block">&nbsp;</label>
                        @Html.ASCheckBox(x => x.Activo)
                    </div>
     
                }
            </div>

            <div class="row">

                <div class="form-group col-md-4">
                    @Html.ASFileUpload(x => x.ImagenPerfilId)
                </div>

            </div>

            @Html.ASInfoButtons(Constants.ResourceCode.USER, Model.Id == 0)
        }
    </div>
</div>
