﻿@using Ubbie.Recursos
@using Ubbie.Servicios.Models
@using Ubbie.WebSite.Aplicacion.Helpers
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Controls.ASGrid.ASGridTabs
@using Ubbie.WebSite.Shared.Layouts
@using Ubbie.WebSite.Shared.Layouts.SidebarLayout.Breadcrumbs

@section scripts {
    @Html.Script("~/Areas/Usuario/Scripts/UsuarioIndex.js")
    <script>
        var nombreLabel = '@Translation.Label_FirstName';
        var apellidoLabel = '@Translation.Label_LastName';
        var rolLabel = '@Translation.Label_Role'
    </script>
}


@Html.RenderBreadcrumbs(new List<BreadcrumbItemModel>
{
    new BreadcrumbItemModel("Home", Url.Action("Index", "Home"))
}, Translation.Label_Users)


@Html.ASGridTable(Translation.Label_Users, "icon-users", Constants.ResourceCode.USER)
@Html.ASGridTabs(new ASGridTabsItem(Translation.Label_Details, "details", Url.Action("Info", "Usuario")), false)

