﻿@using Newtonsoft.Json
@using Ubbie.Recursos
@using Ubbie.WebSite.Aplicacion.Helpers
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Controls.ASGrid.ASGridTitle
@using Ubbie.WebSite.Shared.Layouts
@using Ubbie.WebSite.Shared.Layouts.SidebarLayout.Breadcrumbs

@model Ubbie.WebSite.Areas.Usuario.Models.UsuarioPatenteIndexModel

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/bootstrap-treeview-master/dist/bootstrap-treeview.min.css")" />
}

@section scripts {
    @Html.Script("~/Content/vendor/bootstrap-treeview-master/dist/bootstrap-treeview.min.js")
    @Html.Script("~/Areas/Usuario/Scripts/UsuarioPatenteIndex.js")
}

@Html.RenderBreadcrumbs(new List<BreadcrumbItemModel>
{
    new BreadcrumbItemModel("Home", Url.Action("Index", "Home"))
}, Translation.Label_UserPatents)


<div class="portlet light" data-grid-box>
    <div class="portlet-title">
        @Html.ASGridTitle(new ASGridTitleModel { Title = Translation.Label_UserPatents, Icon = "fa fa-user-secret", RenderIcon = true })
    </div>
    <div class="portlet-body">
        <div class="js-users" data-users="@JsonConvert.SerializeObject(Model.UsuarioData)"></div>
    </div>
</div>
