﻿@model Ubbie.WebSite.Controls.ASGrid.ASGridTitle.ASGridTitleModel


<div class="caption">
    @if (Model.RenderIcon)
    {
        <i class="@Model.Icon"></i>
    }
    <span class="caption-subject bold uppercase">@Model.Title</span>
</div>
