﻿
@using Ubbie.Recursos
@model Ubbie.WebSite.Controls.ASGrid.ASGridTools.ASGridButtonNew.ASGridButtonNewModel

<button type="button" class="@Model.Classes" id="@Model.Id">
    <i class="fa fa-plus"></i>
    <span>@Translation.Label_New</span>
</button>