﻿@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Shared.Layouts

<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Ubbie</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Ubbie Website" name="description" />
    <meta content="Pablo Bascones Busch" name="author" />
   
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css">
    <script src="@Url.Content("~/Global/URLs")"></script>
    <script src="@Url.Content("~/Content/metronic/global/plugins/jquery.js")"></script>
    @Styles.Render("~/Content/css/bundle")
    @RenderSection("styles", false)
</head>

@{
    var sidebarClass = "";

    if (Request.Cookies["sidebar_closed"] != null)
    {
        if (Request.Cookies["sidebar_closed"].Value == "1")
        {
            sidebarClass = "page-sidebar-closed";
        }
    }
}

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid @sidebarClass">
    @Html.RenderHeader()

    <div class="clearfix"></div>

    <div class="page-container">
        <div class="page-sidebar-wrapper">
            @Html.RenderMenu()
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="page-footer">
        <div class="page-footer-inner">
            Ubbie <i class="fa fa-copyright"></i> @DateTime.UtcNow.Year | Crafted with <i class="fa fa-heart-o"></i> by <a href="http://asamblo.com/" target="_blank">Pablo Bascones Busch</a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    
    @Scripts.Render("~/Content/js/bundle")
    @RenderSection("scripts", false)
    
    @Html.ASSpinner()
    @Html.ASSession()
    @Html.ASSettings()

</body>
</html>