﻿@using Ubbie.Servicios.Models
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Controls.ASTextBox
@model Ubbie.WebSite.Areas.Gasto.Models.GastoModel
    
<div class="portlet light mt-element-ribbon portlet-fit bordered">

    @Html.ASSetupHeader(Model)


    <div class="portlet-body">
        @using (Html.BeginForm("Save", "Gasto", FormMethod.Post, new { data_form = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)

            <div class="row">
                <div class="form-group col-md-5">
                    @Html.ASTextArea(x => x.Descripcion)
                </div>
                <div class="form-group col-md-3">
                    @Html.ASTextBox(x => x.NroComprobante)
                </div>
                <div class="form-group col-md-2">
                    @{ Html.EnableClientValidation(false);}
                    @Html.ASTextBox(x => x.Monto, new ASTextBoxModel { ControlHTMLAttributes = new Dictionary<string, object> { { "data-autonumeric", "" } } })
                    @{ Html.EnableClientValidation(true);}
                </div>
                <div class="form-group col-md-2">
                    @Html.ASTextBox(x => x.Fecha, new ASTextBoxModel
               {
                   ControlHTMLAttributes = new Dictionary<string, object>
                    {
                       {"data-bootstrap-datepicker", "" }
                    }
               })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    @Html.ASDropDownList(x => x.ConsorcioId, Model.Consorcios)
                </div>
                <div class="form-group col-md-3">
                    @Html.ASDropDownList(x => x.TipoGastoId, Model.TipoGastos)
                </div>
            </div>

            @Html.ASInfoButtons(Constants.ResourceCode.GASTO, Model.Id == 0)

        }

    </div>
</div>
