﻿@using Ubbie.Servicios.Models
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Controls.ASTextBox
@model Ubbie.WebSite.Areas.Noticia.Models.NoticiaModel

<div class="portlet light mt-element-ribbon portlet-fit bordered">

    @Html.ASSetupHeader(Model)


    <div class="portlet-body">
        @using (Html.BeginForm("Save", "Noticia", FormMethod.Post, new { data_form = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)

            <div class="row">
                <div class="form-group col-md-5">
                    @Html.ASTextBox(x => x.Titulo)
                </div>
                <div class="form-group col-md-3">
                    @Html.ASTextBox(x => x.Fecha, new ASTextBoxModel
               {
                   ControlHTMLAttributes = new Dictionary<string, object>
                    {
                       {"data-bootstrap-datepicker", "" }
                    }
               })
                </div>
                <div class="form-group col-md-4">
                    @Html.ASDropDownList(x => x.NoticiaCategoriaId, Model.NoticiaCategorias)
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.ASFileUpload(x => x.ImagenId)
                </div>
                <div class="form-group col-md-6">
                    @Html.ASFileUpload(x => x.ImagenHDId)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.ASTextArea(x => x.Cuerpo)
                </div>
            </div>

            @Html.ASInfoButtons(Constants.ResourceCode.NOTICIA, Model.Id == 0)

        }

    </div>
</div>