﻿@using Ubbie.Recursos
@using Ubbie.Servicios.Models
@using Ubbie.WebSite.Aplicacion.Helpers
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Controls.ASDropDownList
@using Ubbie.WebSite.Shared.Layouts
@using Ubbie.WebSite.Shared.Layouts.SidebarLayout.Breadcrumbs
@model Ubbie.WebSite.Areas.Bitacora.Models.BitacoraModel

@section scripts {
    @Html.Script("~/Areas/Bitacora/Scripts/BitacoraHistoricoIndex.js")
    <script>
        var fechaLabel = '@Translation.Label_DateTime';
        var usuarioLabel = '@Translation.Label_User';
        var detalleLabel = '@Translation.Label_Details';
        var criticidadLabel = '@Translation.Label_Criticity';
    </script>
}

@{
    var now = Configuration.CurrentLocalTime;
}

@Html.RenderBreadcrumbs(new List<BreadcrumbItemModel>
{
    new BreadcrumbItemModel("Home", Url.Action("Index", "Home"))
}, Translation.Label_LogHistory)

<div class="portlet light" data-grid-box>
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-history"></i>
            <span class="caption-subject bold uppercase">@Translation.Label_LogHistory</span>
        </div>
    </div>

    <div class="col-xs-3">
        @Html.ASDropDownList(x => x.UsuarioId, Model.Usuarios, new ASDropDownListModel
   {
       ControlHTMLAttributes = new Dictionary<string, object>
       {
           { "data-userid", ""}
       },
       HasSearch = true
   })
    </div>
    <div class="col-xs-4">
        <label>Fecha</label>
        <div class="form-inline">
            <div class="input-group input-daterange" data-date-filters>
                @Html.TextBox("FechaDesde", now.AddMonths(-2).ToString("d"), new { @class = "form-control", @readonly = "readonly" })
                <span class="input-group-addon">hasta</span>
                @Html.TextBox("FechaHasta", now.AddMonths(-1).ToString("d"), new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
    </div>
    <div class="col-xs-1">
        <label class="u-block">&nbsp;</label>
        <button class="btn btn-sm btn-info" data-daterange-search><i class="fa fa-search"></i></button>
    </div>
    <div class="pull-right">
    <label class="u-block">&nbsp;</label>
        <button class="btn btn-success" data-export-xml data-bs-tooltip title="@Translation.XML_Export"><i class="fa fa-file-excel-o"></i></button>
    </div>
    <div class="portlet-body">
        @Html.ASTable()
    </div>
</div>