﻿
@using System.Globalization
@using Newtonsoft.Json
@model Ubbie.WebSite.Shared.Layouts.SidebarLayout.Notifications.NotificationsModel

<li class="dropdown dropdown-extended dropdown-notification js-notifications" data-new-notifications="@JsonConvert.SerializeObject(Model.Notificationes.Where(x => !x.Leido).Select(x => x.Id).ToList())">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="icon-bell"></i>
        <span class="badge badge-default js-notifications-count">@Model.Notificationes.Count(x => !x.Leido)</span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <ul class="dropdown-menu-list">
                @foreach (var notification in Model.Notificationes.OrderByDescending(x => x.FechaEnvio))
                {
                    <li>
                        <a href="@notification.Link">
                            <span class="time">@notification.FechaEnvio.ToString("d", new CultureInfo("es-AR"))</span>
                            <span class="details">
                                <span class="label label-sm label-icon label-success">
                                    <i class="fa fa-plus"></i>
                                </span>
                                @notification.Mensaje
                            </span>
                        </a>
                    </li>
                }

                @if (!Model.Notificationes.Any())
                {
                    <li>
                        <a href="#">
                            <span class="details">
                                No hay notificaciones nuevas
                            </span>
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</li>