﻿@using System.Threading
@using Ubbie.Recursos
@using Ubbie.WebSite.Controls
@using Ubbie.WebSite.Controls.ASTextArea
@using Ubbie.WebSite.Controls.ASTextBox
@model Ubbie.WebSite.Areas.Soporte.Models.SoporteSmtpModel
    
<div class="tab-pane" id="tabSmtp">
    <div class="portlet light mt-element-ribbon portlet-fit bordered">

        <div class="ribbon ribbon-left ribbon-clip ribbon-shadow ribbon-color-primary uppercase">
            <div class="ribbon-sub ribbon-clip"></div>
            Emailing configuration
        </div>

        <div class="portlet-title"></div>

        <div class="portlet-body">
            
            @using (Html.BeginForm("SendTestEmail", "Soporte", FormMethod.Post, new { data_form = "" }))
            {
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.ASTextBox(x => x.SmtpHost)
                    </div>
                    
                    <div class="form-group col-md-2">
                        @Html.LabelFor(x => x.SmtpPort)
                        @Html.EditorFor(x => x.SmtpPort, new { htmlAttributes = new  { min = "1", @class = "form-control" } })
                    </div>
                    
                    <div class="form-group col-md-3">
                        @Html.ASTextBox(x => x.SmtpUsuarioname)
                    </div>

                    <div class="form-group col-md-4">
                        @Html.ASTextBox(x => x.SmtpPassword, new ASTextBoxModel
                        {
                            ControlHTMLAttributes = new Dictionary<string, object>
                            {
                                { "type", "password" }
                            }
                        })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.ASCheckBox(x => x.SmtpUsuarioDefaultCredentials)
                    </div>
                    
                    <div class="form-group col-md-2">
                        @Html.ASCheckBox(x => x.SmtpEnableSSL)
                    </div>
                    
                    <div class="form-group col-md-3">
                        @Html.ASTextBox(x => x.EmailTo)
                    </div>
                    
                    <div class="form-group col-md-4">
                        @Html.ASTextBox(x => x.EmailSubject)
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.ASTextArea(x => x.EmailBody, new ASTextAreaModel
                        {
                            Rows = 10
                        })
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">@Translation.Label_Send</button>
                </div>
            }
        </div>
    </div>
    
    <div class="portlet light mt-element-ribbon portlet-fit bordered">

        <div class="ribbon ribbon-left ribbon-clip ribbon-shadow ribbon-color-primary uppercase">
            <div class="ribbon-sub ribbon-clip"></div>
            Emails
        </div>

        <div class="portlet-title"></div>

        <div class="portlet-body">
            
            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(x => x.FilterByDateFrom, new { id = Model.FilterByDateFrom })
                    <span>-</span>
                    @Html.LabelFor(x => x.FilterByDateTo)

                    <div class="input-group" data-date-filters>
                        @Html.TextBoxFor(x => x.FilterByDateFrom, new { @class = "form-control", Value = Model.FilterByDateFrom.ToString("d", Thread.CurrentThread.CurrentUICulture) })
                        <span class="input-group-addon">to</span>
                        @Html.TextBoxFor(x => x.FilterByDateTo, new { @class = "form-control", Value = Model.FilterByDateTo.ToString("d", Thread.CurrentThread.CurrentUICulture) })
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.ASDropDownList(x => x.EmailStatusCode, Model.EmailStatusList)
                </div>
                <div class="form-group col-md-1">
                    <label class="u-block">&nbsp;</label>
                    <button type="button" class="btn btn-info btn-block" data-btn-refresh-grid data-bs-tooltip title="@Translation.Label_Refresh">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>

            <hr />

            <table class="table table-bordered" data-grid></table>
        </div>
    </div>

</div>