﻿
@model Ubbie.WebSite.Aplicacion.Code.EventLogModel
    

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(x => x.Id, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9">
            <p class="form-control-static">@Model.Id</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Date, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9">
            <p class="form-control-static">@Model.Date.ToString("g")</p>
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x => x.UsuarioInfo, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9">
            <p class="form-control-static">@Model.UsuarioInfo</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.EventCode, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9">
            <p class="form-control-static">@Model.EventCode</p>
        </div>
    </div>
 
    <div class="form-group">
        @Html.LabelFor(x => x.LogLevel, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9">
            <p class="form-control-static">@Model.LogLevel</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.ServerException, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9 overflow-x-auto">
            <p class="form-control-static">@Model.ServerException</p>
        </div>
    </div>
 
    <div class="form-group">
        @Html.LabelFor(x => x.RequestType, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9">
            <p class="form-control-static">@Model.RequestType</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.UserAgent, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9">
            <p class="form-control-static">@Model.UserAgent</p>
        </div>
    </div>
 
    <div class="form-group">
        @Html.LabelFor(x => x.QueryString, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9">
            <p class="form-control-static">@Model.QueryString</p>
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x => x.Data, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9 overflow-x-auto">
            <p class="form-control-static">@Model.Data</p>
        </div>
    </div>
</div>
