﻿
@model Ubbie.Entidades.Soporte.Email
    

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(x => x.Id, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9">
            <p class="form-control-static">@Model.Id</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.FechaCreacion, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9">
            <p class="form-control-static">@Model.FechaCreacion.ToString("g")</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Recipients, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9">
            <p class="form-control-static">@Model.Recipients</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Sender, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9">
            <p class="form-control-static">@Model.Sender</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.EmailStatusCode, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9">
            <p class="form-control-static">@Model.EmailStatusCode</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Log, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9 overflow-x-auto">
            <p class="form-control-static">@Model.Log</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Subject, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9">
            <p class="form-control-static">@Model.Subject</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Body, new { @class = "control-label col-xs-3 sbold" })
        <div class="col-xs-9">
            <p class="form-control-static">@Html.Raw(Model.Body)</p>
        </div>
    </div>

</div>
