﻿@using Ubbie.Recursos

<div class="tab-pane" id="tabImpersonate">
    <div class="portlet light mt-element-ribbon portlet-fit bordered">

        <div class="ribbon ribbon-left ribbon-clip ribbon-shadow ribbon-color-primary uppercase">
            <div class="ribbon-sub ribbon-clip"></div>
            Impersonate
        </div>

        <div class="portlet-title"></div>
        <div class="portlet-body">
            <div class="row">
                <div class="form-group col-md-8 col-md-offset-2">
                    @Html.TextBox("ImpersonateQueryString", "", new {@class = "form-control", placeholder = Translation.Query_InsertValueToSearch})
                </div>
            </div>

            <hr />
            
            <div class="text-center">
                <button type="button" class="btn btn-primary" data-btn-view-users>@Translation.Text_ShowAllUsers</button>
                <button type="button" class="btn btn-info hide" data-btn-refresh-grid>Refrescar <i class="fa fa-refresh"></i></button>
            </div>
            
            <hr />

            <table class="table table-bordered" data-grid></table>

        </div>
    </div>
</div>