﻿@using Ubbie.Recursos
@using Ubbie.Servicios.Models
@using Ubbie.WebSite.Aplicacion.Helpers
@using Ubbie.WebSite.Controls

@model Ubbie.WebSite.Areas.Soporte.Models.SoporteConfigModel


<div class="tab-pane active" id="tabConfig">
    @using (Html.BeginForm("SaveConfig", "Soporte", FormMethod.Post, new { data_form = "" }))
    {
        var i = 0;


        <div class="text-right mb-15">
            <button class="btn btn-info btn-sm" type="button" data-btn-refresh-config>
                @Translation.Label_Refresh <i class="fa fa-refresh"></i>
            </button>
        </div>

        foreach (var configGroup in Model.ConfigGroupModel)
        {
            @Html.HiddenFor(x => Model.ConfigGroupModel[i].Code)

            <div class="portlet light mt-element-ribbon portlet-fit bordered">

                <div class="ribbon ribbon-left ribbon-clip ribbon-shadow ribbon-color-primary uppercase">
                    <div class="ribbon-sub ribbon-clip"></div>
                    @configGroup.Description
                </div>

                <div class="portlet-title"></div>

                <div class="portlet-body">
                    <div class="form-horizontal">
                        @{
                            var j = 0;

                            foreach (var configSetting in configGroup.ConfigSettings)
                            {
                                @Html.HiddenFor(x => Model.ConfigGroupModel[i].ConfigSettings[j].Key)

                                <div class="form-group">


                                    @if (configSetting.Type.ToLower() == "bool")
                                    {
                                        var guid = Guid.NewGuid().ToString();
                                        var value = configSetting.Value.ToLower() == "true";

                                        @Html.LabelFor(x => guid, configSetting.Description, new { @class = "control-label col-xs-3", @for = guid })

                                        <div class="col-xs-9">
                                            <p class="form-control-static">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    @Html.HiddenFor(x => Model.ConfigGroupModel[i].ConfigSettings[j].Value)

                                                    @if (configSetting.IsEditable)
                                                    {
                                                        @Html.CheckBox(guid, value, new { id = guid })
                                                    }
                                                    else
                                                    {
                                                        @Html.CheckBox(guid, value, new { id = guid, disabled = "" })
                                                    }
                                                    <span></span>
                                                </label>
                                            </p>
                                        </div>
                                    }
                                    else if (configSetting.Key == HtmlHelperExtensions.GetPropertyName(() => Configuration.Application.AppLayout))
                                    {
                                        @Html.LabelFor(x => Model.ConfigGroupModel[i].ConfigSettings[j].Value, configSetting.Description, new { @class = "control-label col-xs-3" })

                                        <div class="col-xs-9">
                                            @Html.DropDownListFor(x => Model.ConfigGroupModel[i].ConfigSettings[j].Value, new SelectList(Constants.AppLayoutCode.VALUES.ToList(), "Value", "Key", Model.ConfigGroupModel[i].ConfigSettings[j].Value), new { @class = "form-control" })
                                        </div>
                                    }
                                    else if (configSetting.Key == HtmlHelperExtensions.GetPropertyName(() => Configuration.Application.EnvironmentCode))
                                    {
                                        @Html.LabelFor(x => Model.ConfigGroupModel[i].ConfigSettings[j].Value, configSetting.Description, new { @class = "control-label col-xs-3" })

                                        <div class="col-xs-9">
                                            @Html.DropDownListFor(x => Model.ConfigGroupModel[i].ConfigSettings[j].Value, new SelectList(Constants.EnvironmentCode.VALUES.ToList(), "Value", "Key", Model.ConfigGroupModel[i].ConfigSettings[j].Value), new { @class = "form-control" })
                                        </div>
                                    }
                                    else if (configSetting.Key == HtmlHelperExtensions.GetPropertyName(() => Configuration.Support.FileSaveMode))
                                    {
                                        @Html.LabelFor(x => Model.ConfigGroupModel[i].ConfigSettings[j].Value, configSetting.Description, new { @class = "control-label col-xs-3" })

                                        <div class="col-xs-9">
                                            @Html.DropDownListFor(x => Model.ConfigGroupModel[i].ConfigSettings[j].Value, new SelectList(Constants.FileSaveMode.VALUES.ToList(), "Value", "Key", Model.ConfigGroupModel[i].ConfigSettings[j].Value), new { @class = "form-control" })
                                        </div>
                                    }
                                    else
                                    {

                                        @Html.LabelFor(x => Model.ConfigGroupModel[i].ConfigSettings[j].Value, configSetting.Description, new { @class = "control-label col-xs-3" })

                                        <div class="col-xs-9">

                                            @if (configSetting.IsEditable)
                                            {
                                                if (configSetting.Type.ToLower() == "int")
                                                {
                                                    @Html.TextBoxFor(x => Model.ConfigGroupModel[i].ConfigSettings[j].Value, new { @class = "form-control", type = "number", min = "0" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(x => Model.ConfigGroupModel[i].ConfigSettings[j].Value, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(x => Model.ConfigGroupModel[i].ConfigSettings[j].Value)
                                                }

                                            }
                                            else
                                            {
                                                @Html.HiddenFor(x => Model.ConfigGroupModel[i].ConfigSettings[j].Value)
                                                <p class="form-control-static">@configSetting.Value</p>
                                            }
                                        </div>

                                    }

                                </div>

                                j++;
                            }
                        }


                    </div>
                </div>
            </div>

                                i++;
                            }

                            @Html.ASInfoButtonSave()
                            }

</div>