﻿@using System.Threading
@using Ubbie.Recursos
@using Ubbie.WebSite.Controls
@model Ubbie.WebSite.Areas.Soporte.Models.SoporteEventLogModel


<div class="tab-pane" id="tabEventLog">
    
    <div class="portlet light portlet-fit bordered">

        <div class="portlet-title">
            
            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(x => x.FilterByDateFrom, new { id = Model.FilterByDateFrom })
                    <span>-</span>
                    @Html.LabelFor(x => x.FilterByDateTo)
                    
                    <div class="input-group" data-date-filters>
                        @Html.TextBoxFor(x => x.FilterByDateFrom, new { @class = "form-control", Value = Model.FilterByDateFrom.ToString("d", Thread.CurrentThread.CurrentUICulture) })
                        <span class="input-group-addon">to</span>
                        @Html.TextBoxFor(x => x.FilterByDateTo, new { @class = "form-control", Value = Model.FilterByDateTo.ToString("d", Thread.CurrentThread.CurrentUICulture) })
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.ASDropDownList(x => x.FilterByLogLevel, Model.FilterByLogLevelList)
                </div>
                <div class="form-group col-md-4">
                    @Html.ASDropDownList(x => x.FilterByUsuarioIds, Model.FilterByUsuariosList)
                </div>
                <div class="form-group col-md-1">
                    <label class="u-block">&nbsp;</label>
                    <button type="button" class="btn btn-info btn-block" data-btn-refresh-grid data-bs-tooltip title="@Translation.Label_Refresh">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>

        </div>

        <div class="portlet-body">
            <table class="table table-bordered" data-grid></table>
        </div>
    </div>

</div>