﻿@using Ubbie.WebSite.Aplicacion.Helpers
@model Ubbie.WebSite.Areas.Soporte.Models.SoporteIndexModel


@section scripts {
    @Html.Script("~/Areas/Soporte/Scripts/SoporteConfig.js")
    @Html.Script("~/Areas/Soporte/Scripts/SoporteEventLog.js")
    @Html.Script("~/Areas/Soporte/Scripts/SoporteSmtp.js")
    @Html.Script("~/Areas/Soporte/Scripts/SoporteImpersonate.js")

}

<div class="tabbable-custom">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tabConfig" data-toggle="tab">Config</a>
        </li>
        <li>
            <a href="#tabEventLog" data-toggle="tab">Event Log</a>
        </li>
        <li>
            <a href="#tabSmtp" data-toggle="tab">SMTP</a>
        </li>
        <li>
            <a href="#tabImpersonate" data-toggle="tab">Impersonate</a>
        </li>
    </ul>

    <div class="tab-content">
        
        @Html.Partial("~/Areas/Soporte/Views/_SoporteConfig.cshtml", Model.SoporteConfigModel)
        @Html.Partial("~/Areas/Soporte/Views/_SoporteEventLog.cshtml", Model.SoporteEventLogModel)
        @Html.Partial("~/Areas/Soporte/Views/_SoporteSmtp.cshtml", Model.SoporteSmtpModel)
        @Html.Partial("~/Areas/Soporte/Views/_SoporteImpersonate.cshtml")
        
    </div>

</div>