﻿
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Ubbie</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Ubbie Website" name="description" />
    <meta content="Asamblo" name="author" />
   
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css">
    <script src="@Url.Content("~/Global/URLs")"></script>
    <script src="@Url.Content("~/Content/metronic/global/plugins/jquery.js")"></script>
    @Styles.Render("~/Content/css/bundle")
    @RenderSection("styles", false)
</head>

<body class="page-404-full-page">

    <div class="page-404">
        @RenderBody()
    </div>

    @Scripts.Render("~/Content/js/bundle")
    @RenderSection("scripts", false)
</body>
</html>