﻿@model Ubbie.WebSite.Shared.Layouts.SidebarLayout.Menu.MenuModel

@{
    var sidebarClass = "";

    if (Request.Cookies["sidebar_closed"] != null)
    {
        if (Request.Cookies["sidebar_closed"].Value == "1")
        {
            sidebarClass = "page-sidebar-menu-closed";
        }
    }
}

<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu page-header-fixed @sidebarClass" data-keep-expanded="false" data-auto-scroll="false" data-slide-speed="200">
        
        <li class="sidebar-toggler-wrapper hide">
            <div class="sidebar-toggler"> </div>
        </li>

        @foreach (var menuItem in Model.MenuItems)
        {
            if (menuItem.HasChildren)
            {
                <li class="nav-item">
                    <a href="@menuItem.Url" class="nav-link nav-toggle">
                        <i class="@menuItem.Icon"></i>
                        <span class="title">@menuItem.Text</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        @foreach (var children in menuItem.Children)
                        {
                            <li class="nav-item">
                                <a href="@children.Url" class="nav-link">
                                    <i class="@children.Icon"></i>
                                    <span class="title">@children.Text</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a href="@menuItem.Url" class="nav-link nav-toggle">
                        <i class="@menuItem.Icon"></i>
                        <span class="title">@menuItem.Text</span>
                    </a>
                </li>
            }
        }
    </ul>
</div>