﻿.text-deco {
    &:focus {
        text-decoration: none;
    }
}

.table.dataTable td.sorting_1,
table.dataTable td.sorting_2,
table.dataTable td.sorting_3,
table.dataTable th.sorting_1,
table.dataTable th.sorting_2,
table.dataTable th.sorting_3 {
    background-color: inherit !important;
}

.page-bar {
    margin-bottom: 2rem !important;
}

.portlet > .portlet-title > .tools > a.expand {
    background-image: url(/Content/img/portlet-collapse-icon.png);
}

.portlet > .portlet-title > .tools > a.collapse {
    background-image: url(/Content/img/portlet-expand-icon.png);
}

.tabbable-custom {
    overflow: visible !important;
}

.page-header.navbar.navbar-fixed-top {
    z-index: 1000;
}

.file-preview-frame:not(.file-preview-error) {
    float: none !important;
    border: none !important;
    margin: 0 auto !important;
    box-shadow: 0 0 10px #ccc !important;

    &:hover {
        box-shadow: 0 0 10px #aaa !important;
    }
}

.kv-fileinput-error file-error-message {
    overflow: hidden !important;
}

.has-error {
    .file-preview {
        border-color: #922c38;
    }
}

.bootstrap-tagsinput {
    width: 100%;
}
