﻿

.u-relative {
    position: relative;
}

.u-block {
    display: block !important;
}

.u-flex {
    @include flexbox;

    &-center {
        @include align-items(center);
    }

    &-wrap {
        @include flex-wrap(wrap);
    }

    &-justify-center {
        @include justify-content(center);
    }

    &-justify-around {
        @include justify-content(space-around);
    }

    &-justify-between {
        @include justify-content(space-aroundbetween);
    }

    &-column {
        @include flex-direction(column);
    }
}


.overflow-x-auto {
    overflow-x: auto !important;
}