﻿.dropzone {
    @include flexbox;
    border: 2px dashed #2A3F54;

    .dz-message {
        margin: auto;
        font-size: 18px;
        text-align: center;
    }

    .dz-preview {
        margin: 0;
        width: 100%;
        padding: 5px;

        &:hover {
            z-index: 1;
        }

        .dz-error-message {
            width: initial;
        }

        .dz-image {
            min-height: 100px;
            width: 100%;
            height: auto;
            margin-bottom: 10px;

            img {
                width: 100%;
            }
        }

        .dz-details {
            padding: 0;
        }

        .btn,
        .fa {
            cursor: pointer;
        }
    }


    &--multiple {

        &.dz-clickable {
            @include flexbox;
        }

        &.dz-started {
            display: block !important;
        }

        border-width: 3px;
        overflow-y: scroll;
        height: 300px;

        .dz-preview {
            width: 20%;
        }
    }
}


.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}
