﻿@using Newtonsoft.Json
@using Ubbie.Recursos
@model Ubbie.WebSite.Controls.ASMultipleFileUpload.ASMultipleFileUpload

@{
    Layout = "~/Shared/Layouts/SidebarLayout/Partial/PartialLayout.cshtml";
}

@section styles {
}

@section scripts {

    <script>
        // See http://www.dropzonejs.com/
        Dropzone.autoDiscover = false;

        var options = {
            url: URLs.File.Upload,
            headers: {
                fileSaveMode: '@Model.FileSaveMode',
                fileSystemSaveFolder: '@Model.FileSystemSaveFolder'
            },
            acceptedFiles: '@Model.AcceptedFiles',
            thumbnailWidth: @Model.ThumbnailWidth,
            thumbnailHeight: @Model.ThumbnailHeight,
            maxFilesize: @Model.MaxFileSize,
            dictDefaultMessage: '@Html.Raw(Translation.Plugin_Dropzone_DefaultMessage)',
            dictCancelUpload: '@Translation.Plugin_Dropzone_CancelUpload',
            dictCancelUploadConfirmation: '@Translation.Plugin_Dropzone_CancelUploadConfirmation',
            dictInvalidFileType: '@Translation.Plugin_Dropzone_InvalidFileType',
            dictFileTooBig: '@Translation.Plugin_Dropzone_FileTooBig',
            init: function () {
                var _this = this;

                this.on('addedfile', function(file) {
                    var canBeRemoved = @JsonConvert.SerializeObject(Model.CanBeRemoved);

                    var wrapper = Dropzone.createElement('<div class="text-center" style="margin-top: 2px;"></div>');

                    if (canBeRemoved) {
                        var removeButton = Dropzone.createElement('<button type="button" class="btn btn-xs btn-danger" data-dz-remove title="@Translation.Plugin_Dropzone_RemoveFile"><i class="fa fa-trash"></i></button>');
                        removeButton.addEventListener("click", function(e) {
                            e.preventDefault();
                            e.stopPropagation();

                            _this.removeFile(file);
                        });
                        wrapper.appendChild(removeButton);
                    }

                    if (file.fileId) {
                        var downloadButton = Dropzone.createElement('<a target="_blank" href="' + URLs.File.Download + '?key=' + encodeURI(file.Key) + '" type="button" class="btn btn-xs btn-info" title="@Translation.Label_Download"><i class="fa fa-cloud-download"></i></a>');
                        wrapper.appendChild(downloadButton);
                    }

                    file.previewElement.appendChild(wrapper);

                    if (file.name.indexOf('pdf') != -1) {
                        $(file.previewElement).find('.dz-image img').attr('src', '/Content/img/icon-pdf.png');
                    }

                });

                this.on('success', function (event, response) {
                    var control = $('#@Model.PropertyName');
                    var value = control.val();
                    value = JSON.parse(value);
                    value.push(response.FileId);
                    value = JSON.stringify(value);
                    control.val(value);
                });

                this.on('removedfile', function (file) {
                    var control = $('#@Model.PropertyName');
                    var value = control.val();
                    value = JSON.parse(value);
                    var index = value.indexOf(file.fileId);
                    value.splice(index, 1);
                    value = JSON.stringify(value);
                    control.val(value);
                });

                var files = @Html.Raw(JsonConvert.SerializeObject(Model.Files));
                var url ='@Url.Action("View", "File")';

                files.forEach(function(file) {
                    var mockFile = {
                        name: file.FileName,
                        size: file.FileContent.Length,
                        fileId: file.Id,
                        key: file.Key
                    };
                    _this.files.push(mockFile);
                    _this.emit('addedfile', mockFile);

                    if (file.Extension == '.pdf') {
                        _this.emit('thumbnail', mockFile, '/Content/img/icon-pdf.png');
                    } else {
                        _this.emit('thumbnail', mockFile, url + '?key=' +  encodeURI(file.Key));
                    }

                    _this.emit("complete", mockFile);
                });

            },
        }

        initDropzone = function(control) {
            control.after($('<div class="dropzone dropzone--multiple" />'));
            control.next().dropzone(options);
        }
        initDropzone($('#@Model.PropertyName'));
    </script>
}

<label class="u-block @(Model.HasRequiredIndicator ? "required-indicator" : "")">@Model.LabelText</label>

<input type="hidden" id="@Model.PropertyName" name="@Model.PropertyName" @Model.HtmlAttributes value="@(Model.Files.Any() ? JsonConvert.SerializeObject(Model.Files.Select(x => x.Id)) : "[]")" />
