﻿@model Ubbie.WebSite.Controls.ASGrid.ASGridQuery.ASGridQueryModel


<div class="portlet-input input-@Model.ControlSize">
    <div class="input-icon right">
        <i class="icon-magnifier"></i>
        @Html.TextBox(Model.Id, Model.Value, Model.ControlHTMLAttributes)
    </div>
</div>